<div class="bs-sidebar hidden-print affix-top" role="complementary">
  <ul class="nav bs-sidenav">
    <li class="active">
    <a href="#download" style="border-right:1px solid #f7f5fa;">搭配管理</a>
      <ul class="nav">
        <li class="<%= ac_active('matters','index') %>"> 
          <%= link_to '搭配素材', [:manage,:matters] %> 
        </li>
        <li class="<%= ac_active('matters','new') %>"> 
          <%= link_to '上传素材', [:new,:manage,:matter] %> 
        </li>
        <li class="<%= ac_active('matters','recommends') %>"> 
          <%= link_to '推荐素材', [:recommends,:manage,:matters] %> 
        </li>
        <li class="<%= ac_active('dapeis','index') %>"> 
          <%= link_to '所有搭配', [:manage,:dapeis] %> 
        </li>
       
      </ul>
    </li>
  </ul>
</div>
