<%= search_form_for [:manage, @q], html: {class: 'form-inline',role: 'form',style: 'margin-top:30px;'} do |f| %>
  <div class="form-group">
    <label class="sr-only">BrandName</label>
    <%= f.text_field :name_cont, class: 'form-control', placeholder: '城市名' %>
  </div>
  <%= f.submit '搜索', class: 'btn btn-primary btn-xs'%> 
  <%= total_span @cities %>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th class="col-md-1">Id</th>
      <th>名称</th>
      <th class="col-md-1">城市Id</th>
      <th width="6%">状态</th>
      <th class="col-md-1">搭配Id</th>
      <th class="col-md-1">百度Id</th>
      <th width="17%"><%= sort_link @q, :created_at, '创建时间' %></th>
      <th class="col-md-1">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><span class="label label-primary"><%= city.id %></span></td>
        <td><%= city.name %></td>
        <td><%= city.city_id %></td>
        <td> 
          <span class="badge">
            <%= city.on ? '开启' : '关闭' %> 
          </span>
        </td>
        <td><%= city.dp_id %></td>
        <td><%= city.bd_id %></td>
        <td><%= to_local city.created_at %></td>
        <td> 
          <%= link_to '编辑', [:edit,:manage,city], class: 'e_obj' %>
        </td>
      </tr>
    <% end %>
  </body>
</table>
<%= paginate @cities %>  
