<%= search_form_for [:manage, @q], html: {class: 'form-inline',role: 'form',style: 'margin-top:30px;'} do |f| %>
  <div class="form-group">
    <label class="sr-only">StreetName</label>
    <%= f.text_field :name_cont, class: 'form-control', placeholder: '名称' %>
  </div>
  <div class="form-group">
    <label class="sr-only">CityName</label>
    <%= f.select :city_id_eq, @cities,{include_blank: '空白'}, class: 'form-control' %>
  </div>
  <%= f.submit '搜索', class: 'btn btn-primary btn-xs'%> 
  <%= total_span @malls %>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th>名称</th>
      <th>店铺数</th>
      <th>微博</th>
      <th>模式</th>
      <th width="17%"><%= sort_link @q, :created_at, '创建时间' %></th>
      <th width="12%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @malls.each do |mall| %>
      <% ct = mall.crawler_templates.first %>
      <tr>
        <td><%= mall.name %></td>
        <td><%= mall.get_shops_count.to_s %>
        <td> 
          <% if mall.crawler_templates and mall.crawler_templates.length > 0 %>
            <%= ct.source %>
          <% else %>
            新微博模板
          <% end %>
        </td>
        <td><%= mall.pattern %></td>
        <td><%= to_local mall.created_at %></td>
        <td> 
          <%= link_to '编辑', [:edit,:manage,mall], class: 'e_obj' %> |
          <%= link_to '删除', [:manage,mall], remote: true, method: :delete, 
          confirm: 'Are you sure ?', class: 'ajaxd' %>
        </td>
      </tr>
    <% end %>
  </body>
</table>
<%= will_paginate @malls %>  
