<p>
  <br/>
</p>

<% unless @typesets.blank? %>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>typeset type</th>
      <th>is active</th>
      <th>order no</th>
      <th>Opreate</th>
    </tr>

    <% @typesets.each do |ts| %>
    <tr>
      <td>
        <%= ts.id %>
      </td>
      <td>
        <%= ts.name %>
      </td>
      <td>
        <%= ts.typeset_type.mark %>
      </td>
      <td>
        <%= ts.is_active %>
      </td>
      <td>
        <%= ts.order_no %>
      </td>
      <td>
        <%= link_to "edit", edit_manage_typeset_path(ts) %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>