<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="搭配秘书">
  <meta http-equiv="imagetoolbar" content="no">
  <title>创造搭配-搭配秘书</title>

  <%= stylesheet_link_tag 'polyvore/sxf6sew-d' ,'polyvore/montage' %>
  <!--<link rel="stylesheet" type="text/css" href="/assets/polyvore/sxf6sew-d.css"/>-->
  <!--<link rel="stylesheet" href="/assets/polyvore/montage.css" type="text/css">-->

  <%= javascript_include_tag "jquery" %>
  <script>var _sf_startpt = (new Date()).getTime()</script>
  <script type="text/javascript" src="/assets/polyvore/sxf6sew.js"></script>
  <script type="text/javascript">
      try {
        Typekit.load();
      }catch(e){}
  </script>
  <script>
    window._firstVisit = null;
    window._shipRegion = "CN";
    window._cookieWhitelist = ["city_id", "e", "", "bdshare_firstime", "_shangjieba_session", "exps", "", "l", "as", ".locale", "ebdt", "ebds", "ref", "_debug", "oauth", "__test", "setoffercart", "v", "invite", "{id}_layout", "sticky_features_stream_{id}", "sticky_features_grid_{id}", "lastaccess_{id}", "userpromo_{id}", "m", "ms", "dialog", "eb", "se", ".pc", "seg", "app"];
    window._polyvoreHost = "www.shangjieba.com";
    window._polyvoreLocale = "en";
    window._xsrfToken = "ODQzNjU2MiwxMzc5Mzk4MDYy";
    window._polyvoreGAURLParamWhitelist = {"price.from": 1, "price.to": 1, "sale": 1, ".mid": 1, "date": 1, "brand": 1, "tid": 1, "currency": 1, "price.currency": 1, "category_id": 1, "color": 1, "displayurl": 1, "id": 1, "impression": 1, "price_range": 1, "query": 1, "click": 1, "thing_details": 1};
    window.polyvore_experiment_data = {"ga_test2": {"name": "50a", "data": ""}, "show_admin_links": {"name": "default", "data": ""}, "home_launch": {"name": "off", "data": ""}, "SEO::test_b": {"name": "off", "data": ""}, "splash_upsell": {"name": "facebook", "data": ""}, "test_1": {"name": "on", "data": ""}, "EMAIL::control": {"name": "a", "data": ""}, "SEO::bot_img": {"name": "legacy", "data": ""}, "shop_cpc": {"name": "int_cpc_off_large_image", "data": ""}, "EMAIL::test_a": {"name": "on", "data": ""}, "SEO::test_a": {"name": "off", "data": ""}, "test_2": {"name": "yes", "data": ""}, "SEO::metas": {"name": "control", "data": ""}, "launch": {"name": "off", "data": ""}, "SEO::xsrc": {"name": "on", "data": ""}, "pinterest": {"name": "off", "data": ""}, "test_3": {"name": "blue", "data": ""}, "EMAIL::test_b": {"name": "off", "data": ""}, "content_stream": {"name": "__DEFAULT", "data": ""}, "ga_test1": {"name": "10a", "data": ""}};
    window._buddyicon = null;
    window._polyvoreMode = "prodsjba";
    window._polyvoreTrackSize = {"collection": 71824, "thing": 15376};
    window._defaultTemplateIDs = [];
  </script>
  <script type="text/javascript">
      if (window._polyvoreMode == 'prodsjba') {
          window.onerror = function (err, url, line) {
              return true;
          };
      }
  </script>
  <script type="text/javascript">
      (function () {
          var start_ts = new Date().getTime();
          window._sf_startpt = start_ts;
          function replaceXsrc() {
              var missing_ids = [];
              if (window._xsrc_ids === undefined) {
                  setTimeout(replaceXsrc, 100);
                  return;
              }
              for (var i = 0; i < _xsrc_ids.length; ++i) {
                  var id = _xsrc_ids[i];
                  var img = document.getElementById(id);
                  if (img) {
                      var xsrc = img.getAttribute('xsrc');
                      if (xsrc) {
                          img.setAttribute('src', xsrc);
                          img.removeAttribute('xsrc');
                      }
                  } else {
                      missing_ids.push(id);
                  }
              }

              // keep checking for ids we missed, perhaps still not in dom
              _xsrc_ids = missing_ids;
              if (missing_ids.length > 0) {
                  setTimeout(replaceXsrc, 333);
              }
          }

          window.replaceXsrc = replaceXsrc;

          window.onload = function () {
              var _end = new Date().getTime();

              // load up the rest of the images
              window.setTimeout(function () {
                  replaceXsrc();
                  window.Track && Track.logRenderTime(_end - start_ts);
              }, 0);
          };
      })();
  </script>
  <%= javascript_include_tag 'polyvore/montage','polyvore/hellopolyvore' %>
  <!--<script src="/assets/polyvore/montage.js"></script>-->

  <%#= javascript_include_tag "/assets/polyvore/hellopolyvore.js" %>
  <style type="text/css">
    #dapei_tags_ul{
        padding: 5px 0 5px 0;
        margin-bottom: 10px;
        clear:both;
    }

    #dapei_tags_ul li{
        float: left;
        padding: 2px 2px;
        margin: 0 2px 0px 2px;
        cursor:pointer;
    }

    #dapei_tags_ul li.active{
        background: darkred;
        color: #fff;
    }
    #dapei_tags_ul li:hover{
        background: darkred;
        color: #fff;
    }

  </style>
</head>
<body style="overflow: hidden; padding: 0; margin: 0; height: 100%;" class="wk win new_shop" id="body">
<iframe style="position: absolute; border: 0px; width: 0px; height: 0px; top: -10000px;"></iframe>
<iframe name="polyvore_hidden_iframe" src="" style="position:absolute; top:-10000px; width:0px; height:0px; border:0px;"></iframe>
<div id="progress"></div>
<div id="polyvore_css_load_test" style="position:absolute; width: 0px; height: 0px; left: -1000px"></div>
<div class="compact" id="headercontainer">
  <div id="header">
    <table cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <td class="" id="nav_logo">
          <a href="/">
            <img src="/assets/polyvore/dp.jpg" width='60' height='60'></a>
        </td>

        <td class="main_nav">
          <a href="/collocations">发布搭配</a>
        </td>

        <td class="main_nav">
          <a href="/collocations/app_template">发布模版</a>
        </td>

        <td class="filler"></td>
        <td class="" id="nav_signin">
          <ul class="actions inline">
            <li>
              <%=link_to current_user.display_name, user_path(current_user) %>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<table id="app" class="wide" cellpadding="0" cellspacing="8" style="height: 375px;">
  <tbody>
  <tr valign="top" height="100%">
    <td id="container" width="60%">
      <div id="canvas" trackcontext="canvas" class="unlocked" _uid="76" style="height: 366px;">
        <div class="handles handles_border hidden invisible" style="display: none; visibility: hidden;">
          <div class="handle n resize" _uid="37" style="cursor: n-resize;"></div>
          <div class="handle s resize" _uid="44" style="cursor: s-resize;"></div>
          <div class="handle nw resize" _uid="46" style="cursor: nw-resize;"></div>
          <div class="handle ne resize" _uid="48" style="cursor: ne-resize;"></div>
          <div class="handle se resize" _uid="50" style="cursor: se-resize;"></div>
          <div class="handle sw resize" _uid="52" style="cursor: sw-resize;"></div>
          <div class="handle w resize" _uid="54" style="cursor: w-resize;"></div>
          <div class="handle e resize" _uid="56" style="cursor: e-resize;"></div>
          <div class="handle n rotate" _uid="58" style="cursor: url(/assets/polyvore/rotate_arrow.cur) 13 4, crosshair;">
            <div class="rotatetip"></div>
          </div>
          <div class="filling" _uid="63"></div>
        </div>

        <div class="emptymsg">
          <div>
            <div class="heading"></div>
            <div class="subheading"></div>
          </div>
        </div>

        <input id="fakeInput">

        <div class="multiselect"></div>
        <div class="statusbar" _uid="119">
          <div id="statustext" class=""></div>
        </div>
        <div class="NE" _uid="132">
          <ul class="toolbar horizontal itemactions unselectable" _uid="133" unselectable="on"></ul>
          <div class="clear"></div>
          <div id="bg_btns" class="controls right"></div>
          <div class="iteminfo right"></div>
        </div>

      </div>
    </td>
    <td width="40%">
      <div id="panel">
      </div>
    </td>
  </tr>
  </tbody>
</table>
<script>
    var app = new App($('canvas'), $('panel'), {
        "show_promoted_items": 1,
        "prefill_title": null,
        "max_set_items": 50,
        "contest": null,
        "categories": {
            "user": [
                <% unless @user_categories.blank? %>
                    <% @user_categories.each do |c| %>
                        {
                            "group_name": "<%= c.user.display_name %>",
                            "thing_id": "<%= c.get_image_thing %>",
                            "filters": [{"value": "<%= c.id %>", "name": "category_id"}],
                            "type": "thing",
                            "label": "<%= c.name %>"
                        },
                    <% end %>
                <% end %>

            ],

            "fashion": [
                <% unless @rule_categories.blank? %>
                    <% @rule_categories.each do |c| %>
                        <% unless [121, 123].include?(c.id) %>
                        {
                            "group_name": "服饰",
                            "thing_id": "<%= c.thing_img_id %>",
                            "filters": [{"value": "<%= c.id %>", "name": "category_id"}],
                            "type": "thing",
                            "label": "<%= c.name %>"
                        },
                        <% end %>
                    <% end %>
                <% end %>
            ],
            "filler": [
                <% @sucai_categories .each do |c|%>
                   {"group_name": "素材", "thing_id": "<%= c.image_thing %>", "weight": "<%= c.weight%>", "filters": [{"value": "<%= c.id %>", "name": "category_id"}], "type": "thing", "label": "<%= c.name%>"},
                <% end %>
            ],
            "brand": [
                <% unless @brands.blank? %>
                    <% @brands.each do |b| %>
                        {
                            "group_name": "品牌",
                            "thing_id": "<%= b.id %>",
                            "filters": [{"value": "<%= b.id %>", "name": "brand_id"}],
                            "type": "thing",
                            "label": "<%= b.get_name %>"
                        },
                    <% end %>
                <% end %>
            ],
        },
        "user_info": {},
        "selected_tab": null,
        "prefill_notes": null,
        "lookbooks": null,
        "template_edit": null
    });
</script>
<script>window._xsrc_ids = [];</script>

<div class="offscreen"></div>

<!-- 4156 : 0.025462 p24 -->
<div class="control_tt hidden invisible" style="display: none; visibility: hidden;">Start over</div>
<div class="accontainer" _uid="365">
  <ul _uid="362"></ul>
</div>
<%= javascript_include_tag 'polyvore/detect-zoom' %>
<!--<script src="/assets/polyvore/detect-zoom.js"></script>-->

<div style="display: none" id="user_id"><%= current_user.id %></div>

</body>
</html>
