<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head prefix='og: http://ogp.me/ns# polyvore: http://ogp.me/ns/apps/polyvore#'>
  <script>var _sf_startpt = (new Date()).getTime()</script>
  <title>WWWW - Polyvore</title>
  <meta name="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content=""/>
  <meta property="fb:admins" content="688802255"/>
  <meta property="fb:app_id" content="2358043356"/>
  <meta property="og:site_name" content="Polyvore"/>
  <meta property="og:type" content="polyvore:set"/>
  <meta property="og:title" content="WWWW"/>
  <meta property="og:description" content="A fashion look from February 2013 featuring Samsoe &amp; Samsoe shorts. Browse and shop related looks."/>
  <meta property="og:image" content="http://ak2.polyvoreimg.com/cgi/img-set/cid/71563390/id/IJ5t4Gi4QmKpC8NlLprS_g/size/y.jpg"/>
  <meta property="og:url" content="http://www.polyvore.com/cgi/set?id=71563390"/>
  <meta property="polyvore:likes" content="1"/>
  <meta property="polyvore:author" content="http://samimalik.polyvore.com/"/>
  <meta property="twitter:app:id:iphone" content="499978982"/>
  <meta property="twitter:app:url:ipad" content="polyvore://www.polyvore.com/wwww/set?.svc=twitter&amp;id=71563390"/>
  <meta property="twitter:image" content="http://ak2.polyvoreimg.com/cgi/img-set/cid/71563390/id/IJ5t4Gi4QmKpC8NlLprS_g/size/y.jpg"/>
  <meta property="twitter:app:id:ipad" content="499978982"/>
  <meta property="twitter:card" content="photo"/>
  <meta property="twitter:app:name:iphone" content="Polyvore"/>
  <meta property="twitter:site:id" content="14627153"/>
  <meta property="twitter:app:name:ipad" content="Polyvore"/>
  <meta property="twitter:site" content="@Polyvore"/>
  <meta property="twitter:app:url:iphone" content="polyvore://www.polyvore.com/wwww/set?.svc=twitter&amp;id=71563390"/>
  <meta property="twitter:title" content="WWWW"/>
  <meta http-equiv="imagetoolbar" content="no"/>
  <link rel="canonical" href="http://www.polyvore.com/wwww/set?id=71563390"/>
  <link rel="shortcut icon" href="http://akwww.polyvorecdn.com/rsrc/img/favicon2.ico"/>
  <link rel="apple-touch-icon-precomposed" href="http://akwww.polyvorecdn.com/rsrc/img/logos/apple-touch-icon-114x114-precomposed.png"/>
  <script type="text/javascript" src="/assets/polyvore/sxf6sew.js"></script>
  <script type="text/javascript">try {
      Typekit.load();
  } catch (e) {
  }</script>
  <script>window._firstVisit = null;
  window._shipRegion = "CN";
  window._polyvoreHost = "www.polyvore.com";
  window._polyvoreLocale = "en";
  window._xsrfToken = "";
  window._polyvoreGAURLParamWhitelist = {"price.from": 1, "price.to": 1, "sale": 1, ".mid": 1, "date": 1, "brand": 1, "tid": 1, "currency": 1, "price.currency": 1, "category_id": 1, "color": 1, "displayurl": 1, "id": 1, "impression": 1, "price_range": 1, "query": 1, "click": 1, "thing_details": 1};
  window.polyvore_experiment_data = {"ga_test2": {"name": "50b", "data": ""}, "show_admin_links": {"name": "default", "data": ""}, "home_launch": {"name": "off", "data": ""}, "SEO::test_b": {"name": "off", "data": ""}, "test_1": {"name": "off", "data": ""}, "EMAIL::control": {"name": "a", "data": ""}, "SEO::bot_img": {"name": "new_hotness", "data": ""}, "shop_cpc": {"name": "int_cpc_off_large_image", "data": ""}, "EMAIL::test_a": {"name": "on", "data": ""}, "SEO::test_a": {"name": "off", "data": ""}, "test_2": {"name": "yes", "data": ""}, "SEO::metas": {"name": "test_b", "data": ""}, "launch": {"name": "off", "data": ""}, "SEO::xsrc": {"name": "off", "data": ""}, "pinterest": {"name": "off", "data": ""}, "test_3": {"name": "red", "data": ""}, "EMAIL::test_b": {"name": "off", "data": ""}, "ga_test1": {"name": "20a", "data": ""}};
  window._polyvoreMode = "prod";
  window._buddyicon = null;
  window._polyvoreTrackSize = {"collection": 45796, "thing": 15376};
  window._defaultTemplateIDs = [
      {"category": "fashion", "id": 197495},
      {"category": "fashion", "id": 197450},
      {"imgw": 152, "user_type": "merchant", "clickurl": "../cgi/app?template_fill=209232", "age": "44349902", "imgh": 152, "buddyicon": "3147778", "state": "active", "tid": "209232", "spec_uuid": "6nMSWsbFS__yHOqaVLJdkw", "viewport": null, "object_id": "209232", "fills": "142880", "id": 209232, "category": "fashion", "status_msg": "", "createdby": "27", "country": "us", "occupation": "trendsetter", "description": "", "user_name": "polyvore", "object_class": "template", "seo_title": "polyvore_outfit", "user_age": "208132572", "userurl": "http://polyvore.polyvore.com/", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/id/6nMSWsbFS__yHOqaVLJdkw/size/l.jpg", "user_state": "active", "invalid_items": [], "user_id": "27", "title": "Polyvore outfit", "items": [
          {"visibility": "public", "paid_url": null, "thing_id": "36389364", "masking_policy": "default_yes", "a": "1.0460", "oa": "1.0460", "state": "active", "y": 0, "url": "http://polyvore.com", "old_thing_id": "36389364", "sale_price": null, "imgurl": "ftp://ftp.polyvore.com/ds%204.png", "type": "image", "price": null, "title": "drop shadow", "z": "1", "visible_ratio": "0.318312721121414", "ow": "979", "w": "465.019561756788", "brand_id": null, "brand": null, "x": 0, "host_type": "other", "currency": "USD", "opacity": 0, "instock": "1", "category_id": "324", "oh": "1024", "h": "486.394311786466", "displayurl": "polyvore.com", "createdby": "926352", "feed": 0, "transform": [1, 0, 0, 1], "bkgd": 0, "host": "polyvore.com", "paid": 0},
          {"w": "191.045930248641", "transform": ["0.98582", "0.16781", "-0.16781", "0.98582"], "dropHint": "Bottom", "x": "232.566536457397", "state": "active", "y": "38.1194580034834", "h": "369.471048726583", "type": "ph", "z": "2", "visible_ratio": "0.185780152451289"},
          {"w": "273.356939354417", "transform": ["0.99978", "0.02083", "-0.02083", "0.99978"], "dropHint": "Top", "x": "32.4245005125264", "state": "active", "y": "49.8857807994867", "h": "323.175528303594", "type": "ph", "z": "3", "visible_ratio": "0.281760771127087"},
          {"w": "161.726432917375", "transform": ["0.95654", "-0.29162", "0.29162", "0.95654"], "dropHint": "Bag", "x": "153.827007040637", "state": "active", "y": "264.860201944089", "h": "161.726432917375", "type": "ph", "z": "4", "visible_ratio": "0.100336517137877"},
          {"w": "161.072983477998", "transform": ["1", 0, 0, "1"], "dropHint": "Shoes", "x": "17.2645033421888", "state": "active", "y": "268.793490059655", "h": "154.183181545144", "type": "ph", "z": "5", "visible_ratio": "0.113809838162333"}
      ]},
      {"category": "fashion", "id": 209215},
      {"imgw": 152, "user_type": "merchant", "clickurl": "../cgi/app?template_fill=674200", "age": "2538503", "imgh": 152, "buddyicon": "3147778", "state": "active", "tid": "674200", "spec_uuid": "u7CLCu-0TT_18puhRwGRHA", "viewport": null, "object_id": "674200", "fills": "1539", "id": 674200, "category": "home", "status_msg": "", "createdby": "27", "country": "us", "occupation": "trendsetter", "description": "Style your home on Polyvore!", "user_name": "polyvore", "object_class": "template", "seo_title": "my_home_on_polyvore", "user_age": "208134317", "userurl": "http://polyvore.polyvore.com/", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/id/u7CLCu-0TT_18puhRwGRHA/size/l.jpg", "user_state": "active", "invalid_items": [], "user_id": "27", "title": "My Home on Polyvore", "items": [
          {"visibility": "public", "paid_url": null, "thing_id": "36466826", "masking_policy": "default_yes", "a": "0.5300", "oa": "0.5300", "state": "active", "y": "122.159977714689", "url": "http://polyvore.com", "old_thing_id": "36466826", "sale_price": null, "imgurl": "ftp://ftp.polyvore.com/arrow3.png", "type": "image", "price": null, "title": "Arrow", "z": "1", "visible_ratio": "0.0007928114947235", "ow": "866", "w": "200", "brand_id": null, "brand": null, "x": "433.230769230769", "host_type": "other", "currency": "USD", "opacity": "0.55", "instock": "1", "category_id": "329", "oh": "459", "h": "106", "displayurl": "polyvore.com", "createdby": "926352", "feed": 0, "transform": ["-0.09056", "-0.99589", "0.99589", "-0.09056"], "bkgd": 1, "host": "polyvore.com", "paid": 0, "colorize": "#000000"},
          {"w": "197.633612886461", "transform": ["1", 0, 0, "1"], "dropHint": "Rug", "x": "127.524839306142", "state": "active", "y": "259.064679304857", "h": "273.506667881055", "type": "ph", "z": "2", "visible_ratio": "0.210752245103933"},
          {"w": "387.213472396401", "transform": ["1", 0, 0, "1"], "dropHint": "Sofa", "x": 0, "state": "active", "y": "116.776765438949", "h": "209.030929844646", "type": "ph", "z": "3", "visible_ratio": "0.389347377919417"},
          {"w": "193.654430170251", "transform": ["1", 0, 0, "1"], "dropHint": "Accent Table", "x": "334.774258417523", "state": "active", "y": "312.126927759528", "h": "222.201006163159", "type": "ph", "z": "4", "visible_ratio": "0.206204880050316"},
          {"w": "155.205244410512", "transform": ["1", 0, 0, "1"], "dropHint": "Lamp or Decor", "x": "351.871438941883", "state": "active", "y": "178.874072870621", "h": "152.705089929371", "type": "ph", "z": "5", "visible_ratio": "0.122316383075735"},
          {"w": "282.695992399663", "x": "257.284499104473", "state": "active", "y": 0, "color": "#000000", "h": "47.3981304622189", "bgColor": "", "text": "MY HOME ON", "pos": [
              {"y": 0, "x": "3.36633649127133", "t": "MY"},
              {"y": 0, "x": "71.9243466241236", "t": "HOME"},
              {"y": 0, "x": "205.654786142527", "t": "ON"}
          ], "link": "", "transform": ["1", 0, 0, "1"], "font_id": "459", "point": "100", "scale": "0.418386529405164", "type": "text", "visible_ratio": "0.00949287447629455", "z": "6"},
          {"visibility": "public", "paid_url": null, "thing_id": "36962479", "masking_policy": "default_yes", "a": "0.1418", "oa": "0.1730", "state": "active", "y": "47.0653113441977", "url": "http://polyvore.com", "old_thing_id": "36962479", "sale_price": null, "imgurl": "http://img1.polyvoreimg.com/cgi/img-hosted?.out=png&id=3309663", "type": "image", "price": 0, "title": "Polyvore Logo", "z": "7", "visible_ratio": "0.0610934278795813", "ow": "1023", "w": "261.684723045977", "brand_id": null, "brand": null, "x": "257.595659277605", "host_type": "other", "currency": null, "opacity": 0, "instock": "1", "category_id": 0, "oh": "177", "h": "45.271457086954", "displayurl": "polyvore.com", "createdby": "27", "feed": 0, "transform": [1, 0, 0, 1], "bkgd": 1, "host": "polyvore.com", "paid": 0}
      ]},
      {"category": "home", "id": 682453},
      {"category": "home", "id": 679800},
      {"category": "home", "id": 682412}
  ];</script>
  <script type="text/javascript">
      if (window._polyvoreMode == 'prod') {
          window.onerror = function (err, url, line) {
              return true;
          };
      }
  </script>

  <script type="text/javascript">
      (function () {
          var start_ts = new Date().getTime();
          window._sf_startpt = start_ts;
          function replaceXsrc() {
              var missing_ids = [];
              if (window._xsrc_ids === undefined) {
                  setTimeout(replaceXsrc, 100);
                  return;
              }
              for (var i = 0; i < _xsrc_ids.length; ++i) {
                  var id = _xsrc_ids[i];
                  var img = document.getElementById(id);
                  if (img) {
                      var xsrc = img.getAttribute('xsrc');
                      if (xsrc) {
                          img.setAttribute('src', xsrc);
                          img.removeAttribute('xsrc');
                      }
                  } else {
                      missing_ids.push(id);
                  }
              }

              // keep checking for ids we missed, perhaps still not in dom
              _xsrc_ids = missing_ids;
              if (missing_ids.length > 0) {
                  setTimeout(replaceXsrc, 333);
              }
          }

          window.replaceXsrc = replaceXsrc;

          window.onload = function () {
              var _end = new Date().getTime();

              // load up the rest of the images
              window.setTimeout(function () {
                  replaceXsrc();
                  window.Track && Track.logRenderTime(_end - start_ts);
              }, 0);
          };
      })();
  </script>
  <link rel="stylesheet" href="/assets/polyvore/set.css" type="text/css"/>
  <script src="/assets/polyvore/polyvore.js"></script>
  <link rel="image_src" href="http://ak2.polyvoreimg.com/cgi/img-set/cid/71563390/id/IJ5t4Gi4QmKpC8NlLprS_g/size/y.jpg"/>
  <script type="text/javascript">
      var polyvore_page_name = 'set';
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1750090-4']);
      _gaq.push(['_setDomainName', 'polyvore.com']);
      _gaq.push(['_addIgnoredRef', 'polyvore.com']);
      if (unescape(document.cookie).indexOf('/' + "locale=en/uid=-1/following=0/exp=sid|21,bid|874747684,vid|3469067244558546534,exp_ga_test1|20a,exp_shop_cpc|int_cpc_off_large_image,seg_reader|1,client_type|desktop,seg_shopper|1,outmode|HTML,seg_creator|1,exp_ga_test2|50b") == -1) {
          _gaq.push(['_setVar', '/' + "locale=en/uid=-1/following=0/exp=sid|21,bid|874747684,vid|3469067244558546534,exp_ga_test1|20a,exp_shop_cpc|int_cpc_off_large_image,seg_reader|1,client_type|desktop,seg_shopper|1,outmode|HTML,seg_creator|1,exp_ga_test2|50b"]);
      }
      _gaq.push(['_trackPageview', "/cgi/set?id=71563390"]);
      // NOTE(aaustin): removed to test if bounce rate dip in GA is related to this deprecated call
      //_gaq.push(['_trackPageLoadTime']);

      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      if (!gaJsHost) {
          gaJsHost = 'http://www.';
      }
      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = gaJsHost + 'google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>

  <style type="text/css">
    #headercontainer{
        height: 0;
        overflow: hidden;
    }
    #top{
        height: 0;
        overflow: hidden;
    }
  </style>
</head>
<body class="wk  new_shop">

<iframe name="polyvore_hidden_iframe" src="" style="position:absolute; top:-10000px; width:0px; height:0px; border:0px;"></iframe>
<div id="progress"></div>
<div id="polyvore_css_load_test" style="position:absolute; width: 0px; height: 0px; left: -1000px"></div>
<div id="body">
  <div class="fullsize" id="headercontainer">
    <div id="header">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="" id="nav_logo">
            <a href="http://www.polyvore.com/"><img width="162" src="http://akwww.polyvorecdn.com/rsrc/img/logos/logo_noborder_white_trans_162x17.png" height="17"/></a>
          </td>
          <td class="main_nav" id="nav_top">
            <div class="mod_subnav cssonly " id="subnav53980ef8">
              <a href="http://www.polyvore.com/" class="">TRENDING</a>
              <ul class=" dock_bl">
                <li class=" first"><a data-onclick href="/">Top Stories</a></li>
                <li class=""><a data-onclick href="../what_to_wear/splash.topic?topic=What+to+Wear">What to Wear</a>
                </li>
                <li class=""><a data-onclick href="../styling_tips/splash.topic?topic=Styling+Tips">Styling Tips</a>
                </li>
                <li class=""><a data-onclick href="../celebrity/splash.topic?topic=Celebrity">Celebrity</a></li>
                <li class=""><a data-onclick href="../beauty/splash.topic?topic=Beauty">Beauty</a></li>
                <li class="">
                  <a data-onclick href="../fashion_insider/splash.topic?topic=Fashion+Insider">Fashion Insider</a></li>
                <li class=""><a data-onclick href="../in_season/splash.topic?topic=In+Season">In Season</a></li>
                <li class=" last"><a data-onclick href="../cgi/popular.fashion">Top Sets</a></li>
              </ul>
            </div>
          </td>
          <td class="main_nav" id="nav_following"><a href="../cgi/home">
            <div class="sprite likes"></div>
            FOLLOWING</a></td>
          <td class="main_nav" id="nav_shop">
            <div class="mod_subnav cssonly " id="subnav53981ef8"><a href="../cgi/shop.browse" class="">SHOP</a>
              <ul class=" dock_bl">
                <li class=" first"><a data-onclick href="../cgi/shop?category_id=1&amp;date=week">Just In</a></li>
                <li class="separated"><a data-onclick href="../sale/shop?category_id=1&amp;sale=1">On Sale</a></li>
                <li class=""><a data-onclick href="../dresses/shop?category_id=3">Dresses</a></li>
                <li class=""><a data-onclick href="../tops/shop?category_id=11">Tops</a></li>
                <li class=""><a data-onclick href="../skirts/shop?category_id=7">Skirts</a></li>
                <li class=""><a data-onclick href="../shoes/shop?category_id=41">Shoes</a></li>
                <li class=""><a data-onclick href="../bags/shop?category_id=35">Bags</a></li>
                <li class=""><a data-onclick href="../jewelry/shop?category_id=60">Jewelry</a></li>
                <li class=" last"><a data-onclick href="../beauty_products/shop?category_id=74">Beauty</a></li>
              </ul>
            </div>
          </td>
          <td class="main_nav" id="nav_create"><a href="../cgi/app">CREATE</a></td>
          <td class="filler"></td>
          <td class="" id="nav_search">
            <form method="get" action="../cgi/shop" enctype="multipart/form-data" id="search53982ef8" class="search_box ">
              <table cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                  <td class="spyglass">
                    <div class="sprite "></div>
                  </td>
                  <td class="corpus_label"><span>Products</span></td>
                  <td class="input"><input value="" name="query" type="text"/></td>
                  <td class="corpus_subnav">
                    <div class="mod_subnav cssonly " id="subnav53983ef8"><span class=" mod_arrow down"></span>
                      <ul class=" dock_br">
                        <li class=" selected first"><a data-onclick href="../cgi/shop">Products</a></li>
                        <li class=""><a data-onclick href="../cgi/search.sets">Sets</a></li>
                        <li class=""><a data-onclick href="../cgi/search.collections">Collections</a></li>
                        <li class=""><a data-onclick href="../cgi/search.things">Items</a></li>
                        <li class=""><a data-onclick href="../cgi/search.groups">Groups</a></li>
                        <li class=" last"><a data-onclick href="../cgi/search.users">Members</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </form>
          </td>
          <td class="" id="nav_signin">
            <ul class="actions inline">
              <li>
                <a href="../cgi/register" onclick="SignInBox.register({ src: 'nav', onSuccess: reloadPage }); return false;">Register</a>
              </li>
              <li>
                <a href="../cgi/login" onclick="SignInBox.signIn({ src: 'nav', onSuccess: reloadPage }); return false;">Sign
                  in</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="page">
    <div id="top">
      <div class="clearfix"></div>
      <div>
        <div class id="docked_register"><a href="../cgi/app?selected_tab=home"><h1>Mix and match your home decor</h1>
          <span class="btn btn_action create">Create a room collage</span></a></div>
      </div>
    </div>
    <div id="left" class="w600">
      <div id="" class="box collection" trackcontext="">
        <div id="" class="bd">
          <script>var cid = "71563390";</script>
          <div class="main_img">
            <a oncontextmenu="return Share.auto(&quot;IJ5t4Gi4QmKpC8NlLprS_g&quot;,&quot;&quot;,&quot;right_click&quot;)" hidefocus="hidefocus" href="#" ondragstart="return Share.auto(&quot;IJ5t4Gi4QmKpC8NlLprS_g&quot;,&quot;&quot;,&quot;drag&quot;)" trackcontext="set_image">
              <img width="600" alt="A fashion look from February 2013 featuring Samsoe &amp; Samsoe shorts. Browse and shop related looks." src="http://ak2.polyvoreimg.com/cgi/img-set/cid/71563390/id/IJ5t4Gi4QmKpC8NlLprS_g/size/y.jpg" title="WWWW" id="main_image53984ef8" class="main_img" height="600"/>
            </a>
          </div>
        </div>
      </div>
      <div id="stream_carousel" class="box clearfix" trackcontext="">
        <div id="" title="" class="hd"><h3 id>
          <a href="http://samimalik.polyvore.com/" title="Sets by samimalik" class="hover_clickable">Sets by
            samimalik</a></h3></div>
        <div id="" class="bd">
          <div id="stream_sets"></div>
          <script>
              Carousel.create($('stream_sets'), {
                  data: new MemDataSource([
                      {"imgw": 124, "clickurl": "../sem_t%C3%ADtulo_72/set?id=71568812", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "sqf02gDZSiOfTpR6zV3Oyg", "seo_title": "sem_título_72", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71568812/id/sqf02gDZSiOfTpR6zV3Oyg/size/m.jpg", "object_id": "71568812", "id": "71568812", "title": "Sem título #72", "createdby": null},
                      {"imgw": 124, "clickurl": "../lindo/set?id=71568542", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "J8G_bhqETV2fzWm2j5LYjA", "seo_title": "lindo", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71568542/id/J8G_bhqETV2fzWm2j5LYjA/size/m.jpg", "object_id": "71568542", "id": "71568542", "title": "Lindo!!!", "createdby": null},
                      {"imgw": 124, "clickurl": "../ccc/set?id=71568416", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "lRk8woNWTOiXqj1tQvA_KA", "seo_title": "ccc", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71568416/id/lRk8woNWTOiXqj1tQvA_KA/size/m.jpg", "object_id": "71568416", "id": "71568416", "title": "ccc", "createdby": null},
                      {"imgw": 124, "clickurl": "../nnn/set?id=71568233", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "qNsUcTSrTi_RE1d8_dpCjg", "seo_title": "nnn", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71568233/id/qNsUcTSrTi_RE1d8_dpCjg/size/m.jpg", "object_id": "71568233", "id": "71568233", "title": "nnn", "createdby": null},
                      {"imgw": 124, "clickurl": "../lt/set?id=71568052", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "qsqYYUJJRfGyPyJKKFtqqA", "seo_title": "lt", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71568052/id/qsqYYUJJRfGyPyJKKFtqqA/size/m.jpg", "object_id": "71568052", "id": "71568052", "title": "&lt;3", "createdby": null},
                      {"imgw": 124, "clickurl": "../best_friend_forever/set?id=71567917", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "sXy3r4c5T_CCOd1k2iMIQw", "seo_title": "best_friend_forever", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71567917/id/sXy3r4c5T_CCOd1k2iMIQw/size/m.jpg", "object_id": "71567917", "id": "71567917", "title": "Best Friend Forever", "createdby": null},
                      {"imgw": 124, "clickurl": "../tt/set?id=71567263", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "jVJ_TfbfQXuYXN2kSKws8g", "seo_title": "tt", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71567263/id/jVJ_TfbfQXuYXN2kSKws8g/size/m.jpg", "object_id": "71567263", "id": "71567263", "title": "tt", "createdby": null},
                      {"imgw": 124, "clickurl": "../eleanor_calder/set?id=71567073", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "Zyn9PXmCSkWJauZQt9GcLw", "seo_title": "eleanor_calder", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71567073/id/Zyn9PXmCSkWJauZQt9GcLw/size/m.jpg", "object_id": "71567073", "id": "71567073", "title": "Eleanor Calder", "createdby": null},
                      {"imgw": 124, "clickurl": "../cccx/set?id=71566022", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "9rhyqdroSK_vkmz0q2ff8g", "seo_title": "cccx", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71566022/id/9rhyqdroSK_vkmz0q2ff8g/size/m.jpg", "object_id": "71566022", "id": "71566022", "title": "cccx", "createdby": null},
                      {"imgw": 124, "clickurl": "../zzzz/set?id=71565201", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "lMa_In9MSR_tVVjkrHMGEA", "seo_title": "zzzz", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71565201/id/lMa_In9MSR_tVVjkrHMGEA/size/m.jpg", "object_id": "71565201", "id": "71565201", "title": "zzzz", "createdby": null},
                      {"imgw": 124, "clickurl": "../bbb/set?id=71564507", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "rlQ57te2SXqq7OA3aruiwg", "seo_title": "bbb", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71564507/id/rlQ57te2SXqq7OA3aruiwg/size/m.jpg", "object_id": "71564507", "id": "71564507", "title": "bbb", "createdby": null},
                      {"imgw": 124, "clickurl": "../nnnnnnnnnn/set?id=71564138", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "91bYEUkjTMePkK_1NAoanQ", "seo_title": "nnnnnnnnnn", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71564138/id/91bYEUkjTMePkK_1NAoanQ/size/m.jpg", "object_id": "71564138", "id": "71564138", "title": "nnnnnnnnnn", "createdby": null},
                      {"imgw": 124, "clickurl": "../lllllllllllll/set?id=71563851", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "TelEZPwFTN_WMSjW79uMhQ", "seo_title": "lllllllllllll", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71563851/id/TelEZPwFTN_WMSjW79uMhQ/size/m.jpg", "object_id": "71563851", "id": "71563851", "title": "lllllllllllll", "createdby": null},
                      {"imgw": 124, "clickurl": "../perrie_edwards/set?id=71563542", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "moAQ4T9wS2qZw2zQGL_8FA", "seo_title": "perrie_edwards", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71563542/id/moAQ4T9wS2qZw2zQGL_8FA/size/m.jpg", "object_id": "71563542", "id": "71563542", "title": "Perrie Edwards", "createdby": null},
                      {"imgw": 600, "clickurl": "../wwww/set?id=71563390", "penalty_score": 0, "imgh": 600, "object_class": "set", "spec_uuid": "IJ5t4Gi4QmKpC8NlLprS_g", "seo_title": "wwww", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71563390/id/IJ5t4Gi4QmKpC8NlLprS_g/size/y.jpg", "object_id": "71563390", "id": "71563390", "title": "WWWW", "createdby": null},
                      {"imgw": 124, "clickurl": "../demi/set?id=71563024", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "3Vjy3BJZRjC9n1UxLHWM4g", "seo_title": "demi", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71563024/id/3Vjy3BJZRjC9n1UxLHWM4g/size/m.jpg", "object_id": "71563024", "id": "71563024", "title": "DEMI!", "createdby": null},
                      {"imgw": 124, "clickurl": "../demi_lovato/set?id=71562634", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "ML5eEFxZR86XO4qibh4O-Q", "seo_title": "demi_lovato", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71562634/id/ML5eEFxZR86XO4qibh4O-Q/size/m.jpg", "object_id": "71562634", "id": "71562634", "title": "DEMI LOVATO!", "createdby": null},
                      {"imgw": 124, "clickurl": "../lt/set?id=71562321", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "gho0y1DeTRq6e2RCYe4Y2w", "seo_title": "lt", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71562321/id/gho0y1DeTRq6e2RCYe4Y2w/size/m.jpg", "object_id": "71562321", "id": "71562321", "title": "&lt;3", "createdby": null},
                      {"imgw": 124, "clickurl": "../praia/set?id=71562146", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "iWFMcPLJTdWufXGpC9B46Q", "seo_title": "praia", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71562146/id/iWFMcPLJTdWufXGpC9B46Q/size/m.jpg", "object_id": "71562146", "id": "71562146", "title": "Praia!", "createdby": null},
                      {"imgw": 124, "clickurl": "../ddddddddddddddd/set?id=71507922", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "A6WdUBfATsaRl0nuD8dF7Q", "seo_title": "ddddddddddddddd", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71507922/id/A6WdUBfATsaRl0nuD8dF7Q/size/m.jpg", "object_id": "71507922", "id": "71507922", "title": "ddddddddddddddd", "createdby": null},
                      {"imgw": 124, "clickurl": "../cgi/set?id=71507373", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "NcnMPdXnSFuRUBKIjIsyLw", "seo_title": "cgi", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71507373/id/NcnMPdXnSFuRUBKIjIsyLw/size/m.jpg", "object_id": "71507373", "id": "71507373", "title": "H.", "createdby": null},
                      {"imgw": 124, "clickurl": "../cgi/set?id=71506935", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "Q5cys5H0R3aVkDcgKLV6Og", "seo_title": "cgi", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71506935/id/Q5cys5H0R3aVkDcgKLV6Og/size/m.jpg", "object_id": "71506935", "id": "71506935", "title": ";;;;;;;", "createdby": null},
                      {"imgw": 124, "clickurl": "../gggggg/set?id=71506560", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "LGRZe7H6QduMudYGmfBIFA", "seo_title": "gggggg", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71506560/id/LGRZe7H6QduMudYGmfBIFA/size/m.jpg", "object_id": "71506560", "id": "71506560", "title": "gggggg", "createdby": null},
                      {"imgw": 124, "clickurl": "../888888/set?id=71505905", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "48QYQwpMS2KP3sN3sahJBQ", "seo_title": "888888", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71505905/id/48QYQwpMS2KP3sN3sahJBQ/size/m.jpg", "object_id": "71505905", "id": "71505905", "title": "888888", "createdby": null},
                      {"imgw": 124, "clickurl": "../aaaaa/set?id=71505598", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "GWVnEaupSim0GCbip4FemA", "seo_title": "aaaaa", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71505598/id/GWVnEaupSim0GCbip4FemA/size/m.jpg", "object_id": "71505598", "id": "71505598", "title": "AAAAA*****", "createdby": null},
                      {"imgw": 124, "clickurl": "../1d_eu/set?id=71492706", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "0DTx7a-DTzOWGxmxsD1DzQ", "seo_title": "1d_eu", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71492706/id/0DTx7a-DTzOWGxmxsD1DzQ/size/m.jpg", "object_id": "71492706", "id": "71492706", "title": "1D - EU", "createdby": null},
                      {"imgw": 124, "clickurl": "../hhhhhhhhhhhhh/set?id=71477343", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "PEUt7F1_R6W0l2ywwTyfgQ", "seo_title": "hhhhhhhhhhhhh", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71477343/id/PEUt7F1_R6W0l2ywwTyfgQ/size/m.jpg", "object_id": "71477343", "id": "71477343", "title": "hhhhhhhhhhhhh", "createdby": null},
                      {"imgw": 124, "clickurl": "../rihanna/set?id=71144994", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "oavIUwuOT7_vZ62ERLU9VA", "seo_title": "rihanna", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71144994/id/oavIUwuOT7_vZ62ERLU9VA/size/m.jpg", "object_id": "71144994", "id": "71144994", "title": "Rihanna", "createdby": null},
                      {"imgw": 124, "clickurl": "../zzzzzzzzz/set?id=71144493", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "8S1HuwQjSDWfeEdhpiyVUw", "seo_title": "zzzzzzzzz", "userurl": "../cgi/profile", "imgurl": "http://ak1.polyvoreimg.com/cgi/img-set/cid/71144493/id/8S1HuwQjSDWfeEdhpiyVUw/size/m.jpg", "object_id": "71144493", "id": "71144493", "title": "zzzzzzzzz", "createdby": null},
                      {"imgw": 124, "clickurl": "../cgi/set?id=71144099", "penalty_score": 0, "imgh": 124, "object_class": "set", "spec_uuid": "QLsfUzkMQMad2Kjr1PeN4g", "seo_title": "cgi", "userurl": "../cgi/profile", "imgurl": "http://ak2.polyvoreimg.com/cgi/img-set/cid/71144099/id/QLsfUzkMQMad2Kjr1PeN4g/size/m.jpg", "object_id": "71144099", "id": "71144099", "title": "......", "createdby": null}
                  ]),
                  className: 'thin_carousel',
                  cellDim: new Dim(141, 140),
                  renderer: function (item) {
                      var img = UI.setRender(item, 's2');
                      img.alt = item.title;
                      var className = 'hoverborder item';
                      if (item.id == 71563390) {
                          className += ' current';
                      }
                      return createNode('a', {
                          title: item.title,
                          href: item.clickurl,
                          className: className
                      }, null, img);
                  },
                  size: 4
              }).jumpTo(14);
          </script>
        </div>
      </div>
      <a name="comments" style="text-decoration:none"></a>

      <div id="comment_box" class="box" trackcontext="">
        <div id="" title="" class="hd"><h3 id>Post a Comment</h3></div>
        <div id="" class="bd">
          <div id="" class="box" trackcontext="">
            <div id="" class="bd">
              <form id="comment_form"><textarea name="comment" rows="4" id="txt_comment" class="txt_comment"></textarea><input value="collection" name="cls" type="hidden"/><input value="71563390" name="object_id" type="hidden"/><input type="button" value="Post comment" id="post_btn" class="btn"/>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="comment_sink" class="box" trackcontext="">
        <div id="" class="bd">
          <div class="layout_list content_t2 comments_list" id="53985ef8"></div>
        </div>
      </div>
      <hr>
      <a name="fans" style="text-decoration:none"></a>

      <div id="" class="box" trackcontext="">
        <div id="" title="" class="hd"><h3 id>One like</h3></div>
        <div id="" class="bd">
          <ul class="layout_n set_fans" id="set_fans" trackcontext="">
            <li class="size_t2">
              <a href="http://topaciogarcia.polyvore.com/" trackcontext="image">
                <img width="42" alt="topaciogarcia" src="http://ak1.polyvoreimg.com/cgi/img-buddy/id/6823571/size/s.jpg" height="42" trackelement title="topaciogarcia liked this 4 months ago." class="img_size_t2" id="fan5627500"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="right" trackcontext="right" class="w300">
      <div id="set_title" class="unit">
        <div id="set_editor"><h1 title="WWWW">WWWW</h1></div>
      </div>
      <div id="" class="box" trackcontext="">
        <div id="" class="bd">
          <div class="createdby">
            <a href="http://samimalik.polyvore.com/" class=" buddy_icon" trackcontext="image">
              <img width="42" trackelement alt="samimalik" src="http://ak2.polyvoreimg.com/cgi/img-buddy/id/8397525/size/s.jpg" class="img_size_t2" title="samimalik" height="42"/>
            </a>

            <div class="filling_block">
              <div class="meta">
                <div>Created by
                  <a rel="author" href="http://samimalik.polyvore.com/" class="hover_clickable">samimalik</a></div>
                <div>7 months ago. 47 views. One like.</div>
              </div>
              <span trackelement oid title="" onclick="" class=" follow_action clickable follow" id="follow53986ef8">Follow</span>
            </div>
          </div>
        </div>
      </div>
      <div id="set_description" class="box hidden" trackcontext="">
        <div id="" class="bd">
          <div id="53987ef8" class="tease_container actual_set_description">
            <div style="max-height:96px;" class="tease" id="53987ef8_text"></div>
          </div>
        </div>
      </div>
      <hr>
      <div id="items" class="box" trackcontext="">
        <div id="" class="bd">
          <ul class="layout_n mod_inline_save" id="" trackcontext="">
            <li class="size_s2">
              <div class="item btn_container size_s2">
                <a href="../sams%C3%B8e_line_shorts/thing?context_id=71563390&amp;context_type=collection&amp;id=57838489" trackcontext="image"><img width="124" trackelement alt="Samsøe Samsøe Line Shorts" src="http://ak1.polyvoreimg.com/cgi/img-thing/size/m/tid/57838489.jpg" class="img_size_s2" title="Samsøe Samsøe Line Shorts" height="124"/></a>
                <span trackelement="likeit" oid title="Like" class="likes btn right grey clickable" id="53988ef8"><span class="action_label"><div class="sprite likeit"></div><span>2464</span></span></span>

                <div class="item_meta size_s2">
                  <div class="price_and_link"><span class="price">175 CNY</span>
                    <a paidurl="http://www.awin1.com/cread.php?awinaffid=92295&amp;awinmid=3860&amp;p=http%3A%2F%2Fnelly.com%2Fuk%2Fwomens-fashion%2Fclothing%2Ftrousers-shorts%2Fsams%25C3%25B8e-sams%25C3%25B8e-803%2Fline-shorts-803197-133%2F" oid="t:57838489" orighost="nelly.com" trackelement="site" showtooltip="1" target="_blank" href="http://nelly.com/uk/womens-fashion/clothing/trousers-shorts/sams%C3%B8e-sams%C3%B8e-803/line-shorts-803197-133/" class="outbound" onclick="return false;">nelly.com</a>
                  </div>
                  <div class="name">
                    <a href="../sams%C3%B8e_line_shorts/thing?context_id=71563390&amp;context_type=collection&amp;id=57838489" class="hover_clickable">Samsøe
                      Samsøe Line Shorts</a></div>
                </div>
              </div>
            </li>
            <li class="size_s2 last">
              <div class="item btn_container size_s2">
                <a href="../suede_round_toe_flat/thing?context_id=71563390&amp;context_type=collection&amp;id=70413257" trackcontext="image"><img width="124" trackelement alt="Suede Round Toe Flat" src="http://ak2.polyvoreimg.com/cgi/img-thing/size/m/tid/70413257.jpg" class="img_size_s2" title="Suede Round Toe Flat" height="124"/></a>
                <span trackelement="likeit" oid title="Like" class="likes btn right grey clickable" id="53989ef8"><span class="action_label"><div class="sprite likeit"></div><span>3212</span></span></span>

                <div class="item_meta size_s2">
                  <div class="price_and_link"><span class="price">110 CNY</span>
                    <a rel="nofollow" paidurl oid="t:70413257" orighost="sidecca.com" trackelement="site" showtooltip="1" target="_blank" href="http://www.sidecca.com/shoes/flats/suede-round-toe-flat-9638" class="outbound" onclick="return false;">sidecca.com</a>
                  </div>
                  <div class="name">
                    <a href="../suede_round_toe_flat/thing?context_id=71563390&amp;context_type=collection&amp;id=70413257" class="hover_clickable">Suede
                      Round Toe Flat</a></div>
                </div>
              </div>
            </li>
            <li class="size_s2">
              <div class="item btn_container size_s2">
                <a href="../superman_knot_crop_top/thing?context_id=71563390&amp;context_type=collection&amp;id=70202481" trackcontext="image"><img width="124" trackelement alt="Superman Knot Crop Top" src="http://ak1.polyvoreimg.com/cgi/img-thing/size/m/tid/70202481.jpg" class="img_size_s2" title="Superman Knot Crop Top" height="124"/></a>
                <span trackelement="likeit" oid title="Like" class="likes btn right grey clickable" id="53990ef8"><span class="action_label"><div class="sprite likeit"></div><span>3445</span></span></span>

                <div class="item_meta size_s2">
                  <div class="price_and_link">
                    <a rel="nofollow" paidurl oid="t:70202481" orighost="pinterest.com" trackelement="site" target="_blank" href="http://pinterest.com/pin/124482377170918242/" class="outbound">pinterest.com</a>
                  </div>
                  <div class="name">
                    <a href="../superman_knot_crop_top/thing?context_id=71563390&amp;context_type=collection&amp;id=70202481" class="hover_clickable">Superman
                      Knot Crop Top</a></div>
                </div>
              </div>
            </li>
            <li class="size_s2 last">
              <div class="item btn_container size_s2">
                <a href="../followed_swift_fuck/thing?context_id=71563390&amp;context_type=collection&amp;id=41839555" trackcontext="image"><img width="124" trackelement alt="Followed by a swift... FUCK." src="http://ak1.polyvoreimg.com/cgi/img-thing/size/m/tid/41839555.jpg" class="img_size_s2" title="Followed by a swift... FUCK." height="124"/></a>
                <span trackelement="likeit" oid title="Like" class="likes btn right grey clickable" id="53991ef8"><span class="action_label"><div class="sprite likeit"></div><span>200</span></span></span>

                <div class="item_meta size_s2">
                  <div class="price_and_link">
                    <a rel="nofollow" paidurl oid="t:41839555" orighost="tumblr.com" trackelement="site" target="_blank" href="http://www.tumblr.com/dashboard" class="outbound">tumblr.com</a>
                  </div>
                  <div class="name">
                    <a href="../followed_swift_fuck/thing?context_id=71563390&amp;context_type=collection&amp;id=41839555" class="hover_clickable">Followed
                      by a swift... FUCK.</a></div>
                </div>
              </div>
            </li>
            <li class="size_s2 last_row">
              <div style="width:300px;height:250px" class id="Set_RHS_IABMediumRect" trackcontext="gam"></div>
            </li>
            <li class="size_s2 last last_row"></li>
          </ul>
        </div>
      </div>
      <hr>
      <div id="" class="box" trackcontext="">
        <div id="" title="" class="hd"><h3 id>Collections</h3></div>
        <div id="" class="bd">
          <ul class="layout_n " id="" trackcontext="">
            <li class="size_s2 last_row">
              <div class="mod_stack  size_s2" id="53992ef8">
                <div class="mod_stack_layer">
                  <div class="mod_stack_layer">
                    <div class="mod_stack_content">
                      <a href="../one_direction/collection?id=2154444" trackcontext="image"><img width="124" trackelement alt="One Direction" src="http://ak2.polyvoreimg.com/cgi/img-set/id/eK-x-DRPTJyB9FLhMgLO3A/size/m.jpg" class="img_size_s2" title="One Direction" height="124"/></a>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="item_meta size_s2">
                <li><a href="../one_direction/collection?id=2154444" class="hover_clickable">One Direction</a></li>
                <li>Created by <a href="http://samimalik.polyvore.com/" class="hover_clickable">samimalik</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div id="" class="box" trackcontext="">
        <div id="" title="" class="hd"><h3 id>Related Styles</h3></div>
        <div id="" class="bd">
          <div><a href="../crop_shirts/shop?query=crop+shirts">Crop shirts</a></div>
          <div><a href="../tall_shorts/shop?query=tall+shorts">Tall shorts</a></div>
          <div><a href="http://www.polyvore.com/flat_shoes/shop?query=flat+shoes">Flat shoes</a></div>
        </div>
      </div>
      <div id="" class="box" trackcontext="">
        <div id="" title="" class="hd"><h3 id>Groups</h3></div>
        <div id="" class="bd">
          <div><a href="../1d_outfit_imagines/group.show?id=158144">1D outfit Imagines</a></div>
        </div>
      </div>
    </div>
  </div>

  <script>window._xsrc_ids = [];</script>
  <script id="inlinescripts">Event.trigger(document, 'available');
  ;
  DropDownMenu.initSubnav("subnav53980ef8");
  DropDownMenu.initSubnav("subnav53981ef8");
  DropDownMenu.initSubnav("subnav53983ef8");
  new NavSearchBox("search53982ef8", {"focused": null, "submitCorpus": 0});
  SignInBox.initNav("nav_signin");
  checkMainImg("img.main_img");
  Docking.activate({"nodeId": "docked_register"});
  new Overlay("main_image53984ef8", [
          <% @dapei_info.dapei_item_infos.each do |i| %>
      {
          "w": <%= i.w.to_i %>,
          "imgw": 250,
          "thing_id": "<%= i.thing_id %>",
          "x": <%= i.x.to_i %>,
          "clickurl": "../superman_knot_crop_top/thing?context_id=71563390&context_type=collection&id=70202481",
          "imgh": 250,
          "y": <%= i.y.to_i %>,
          "instock": 1,
          "h": <%= i.h.to_i %>,
          "url": "http://pinterest.com/pin/124482377170918242/",
          "displayurl": "pinterest.com",
          "fav_context": {"type": "collection", "id": "71563390"},
          "shop_link": {"anchor": "tops", "brand_only": null, "url": "../tops/shop?category_id=11"},
          "seo_title": "<%= @dapei_info.title %>",
          "imgurl": "http://ak1.polyvoreimg.com/cgi/img-thing/size/m/tid/70202481.jpg",
          "title": "<%= @dapei_info.title %>", "type": "image", "z": "<%= i.z %>"
      },
          <% end %>



//      {
//          "w": 219,
//          "imgw": 124,
//          "thing_id": "70202481",
//          "x": 34,
//          "clickurl": "../superman_knot_crop_top/thing?context_id=71563390&context_type=collection&id=70202481",
//          "imgh": 124,
//          "y": 11,
//          "instock": 1,
//          "h": 337,
//          "url": "http://pinterest.com/pin/124482377170918242/",
//          "displayurl": "pinterest.com",
//          "fav_context": {"type": "collection", "id": "71563390"},
//          "shop_link": {"anchor": "tops", "brand_only": null, "url": "../tops/shop?category_id=11"},
//          "seo_title": "superman_knot_crop_top",
//          "imgurl": "http://ak1.polyvoreimg.com/cgi/img-thing/size/m/tid/70202481.jpg",
//          "title": "Superman Knot Crop Top", "type": "image", "z": "1"
//      },
//      {
//          "w": 261,
//          "paid_url": "http://www.awin1.com/cread.php?awinaffid=92295&awinmid=3860&p=http%3A%2F%2Fnelly.com%2Fuk%2Fwomens-fashion%2Fclothing%2Ftrousers-shorts%2Fsams%25C3%25B8e-sams%25C3%25B8e-803%2Fline-shorts-803197-133%2F",
//          "imgw": 124,
//          "thing_id": "57838489",
//          "is_product": 1,
//          "x": 19,
//          "clickurl": "../sams%C3%B8e_line_shorts/thing?context_id=71563390&context_type=collection&id=57838489",
//          "imgh": 124,
//          "y": 333,
//          "instock": 0,
//          "h": 195,
//          "url": "http://nelly.com/uk/womens-fashion/clothing/trousers-shorts/sams%C3%B8e-sams%C3%B8e-803/line-shorts-803197-133/",
//          "displayurl": "nelly.com",
//          "lc_display_price": "175 CNY",
//          "fav_context": {"type": "collection", "id": "71563390"},
//          "shop_link": {"anchor": "Samsoe & Samsoe shorts", "brand_only": null, "url": "../samsoe_&_samsoe_shorts/shop?brand=Samsoe+%26+Samsoe&category_id=29"},
//          "seo_title": "samsøe_line_shorts",
//          "imgurl": "http://ak1.polyvoreimg.com/cgi/img-thing/size/m/tid/57838489.jpg",
//          "type": "image",
//          "title": "Samsøe Samsøe Line Shorts",
//          "price": "59.95",
//          "orig_price": "£60",
//          "z": "2",
//          "display_price": "£18"
//      },
//      {
//          "w": 342,
//          "imgw": 124,
//          "thing_id": "41839555",
//          "x": 239,
//          "clickurl": "../followed_swift_fuck/thing?context_id=71563390&context_type=collection&id=41839555",
//          "imgh": 124,
//          "y": 0,
//          "instock": 1,
//          "h": 327,
//          "url": "http://www.tumblr.com/dashboard",
//          "displayurl": "tumblr.com",
//          "fav_context": {"type": "collection", "id": "71563390"},
//          "seo_title": "followed_swift_fuck",
//          "imgurl": "http://ak1.polyvoreimg.com/cgi/img-thing/size/m/tid/41839555.jpg",
//          "title": "Followed by a swift... FUCK.",
//          "type": "image",
//          "z": "3"
//      },
//      {
//          "w": 220,
//          "imgw": 124,
//          "thing_id": "70413257",
//          "is_product": 1,
//          "x": 304,
//          "clickurl": "../suede_round_toe_flat/thing?context_id=71563390&context_type=collection&id=70413257",
//          "imgh": 124,
//          "y": 342,
//          "instock": 0,
//          "h": 258,
//          "url": "http://www.sidecca.com/shoes/flats/suede-round-toe-flat-9638",
//          "displayurl": "sidecca.com",
//          "lc_display_price": "110 CNY",
//          "fav_context": {"type": "collection", "id": "71563390"},
//          "shop_link": {"anchor": "flats", "brand_only": null, "url": "../flats/shop?category_id=47"},
//          "seo_title": "suede_round_toe_flat",
//          "imgurl": "http://ak2.polyvoreimg.com/cgi/img-thing/size/m/tid/70413257.jpg",
//          "type": "image",
//          "title": "Suede Round Toe Flat",
//          "price": "18",
//          "z": "4",
//          "display_price": "$18"
//      }
  ], {"clickThrough": "item"});
  new TrackKeyStroke("txt_comment");
  HighlightingTextarea.init("txt_comment", {"attachments": 1});
  Comment.activatePosting("post_btn", "txt_comment", "53985ef8");
  InputHint.add("txt_comment", "Mention people by typing @username or add a #topic", "comment_form");
  Follow.init("follow53986ef8", {"no_button": 0, "unfollow_label": "Unfollow", "reject_node": "", "action_class": "", "src_id": "71563390", "follower_count": null, "count_node": "", "contact_list_name": null, "user_name": "samimalik", "stat": "", "toggle_class": null, "is_following": 0, "user_id": "5665059", "src_class": "set", "following_label": "Following", "follow_label": "Follow"});
  UI.activateLinks("53987ef8");
  UI.setupRenderMore({"containerNode": "53987ef8", "contentNode": "53987ef8_text", "moreNode": "53987ef8_more"});
  GAM.render({"id": "ca-pub-9756700606219053", "slots": ["Set_RHS_IABMediumRect"], "passthrough": {}, "targeting": {"contest_id": 0, "id": "71563390", "logged_in": 0}});
  new LikeItToggle({"context": {"type": "collection", "id": "71563390"}, "not_liked_button": "<div class=\"sprite likeit\"></div><span>2464</span>", "type": "thing", "id": "57838489", "button": "53988ef8", "liked_button": "<div class=\"sprite likeit\"></div><span>2465</span>", "is_user_fav": 0});
  new LikeItToggle({"context": {"type": "collection", "id": "71563390"}, "not_liked_button": "<div class=\"sprite likeit\"></div><span>3212</span>", "type": "thing", "id": "70413257", "button": "53989ef8", "liked_button": "<div class=\"sprite likeit\"></div><span>3213</span>", "is_user_fav": 0});
  new LikeItToggle({"context": {"type": "collection", "id": "71563390"}, "not_liked_button": "<div class=\"sprite likeit\"></div><span>3445</span>", "type": "thing", "id": "70202481", "button": "53990ef8", "liked_button": "<div class=\"sprite likeit\"></div><span>3446</span>", "is_user_fav": 0});
  new LikeItToggle({"context": {"type": "collection", "id": "71563390"}, "not_liked_button": "<div class=\"sprite likeit\"></div><span>200</span>", "type": "thing", "id": "41839555", "button": "53991ef8", "liked_button": "<div class=\"sprite likeit\"></div><span>201</span>", "is_user_fav": 0});
  if (window.replaceXsrc) {
      setTimeout(replaceXsrc, 2000);
  }
  ;
  warnIfZoomed("http://akwww.polyvorecdn.com/rsrc/detect-zoom.js?1379229000");</script>
</div>
<script>
    (function () {
        var node = document.getElementById('polyvore_css_load_test');
        if (getStyle(node, 'display') != 'none') {
            Beacon.log('error', { data: 'loadcss' });
        }
    })();
</script>
</body>
</html>