<h2 style="margin-top: 30px;"><%= @shop.name %> 店铺详情</h2>
<ul class="nav nav-tabs">
  <li class="dropdown <%= a_active('show') %>">
    <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      宝贝管理<span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu" role="menu">
      <li class="<%= a_active('show') %>"> 
        <%= link_to '宝贝列表', [:manage,@shop] %>
      </li>
      <li class="divider"></li>
      <li class=""> 
        <%= link_to '发布宝贝', '#' %>
      </li>
    </ul>
  </li>
  <li class="<%= a_active('edit') %>"> 
    <%= link_to '修改资料', [:edit,:manage,@shop] %> 
  </li>
  <li class="dropdown <%= a_active('discounts') %>">
    <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      优惠管理<span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu" role="menu">
      <li class="<%= a_active('discounts') %>"><%= link_to '优惠列表', [:discounts,:manage,@shop] %>
      <li class="divider"></li>
      <li class="<%= a_active('youhui') %>"> 
        <%= link_to '发布优惠', '#' %>
      </li>
    </ul>
  </li>
</ul>
