%p#notice= notice

%p
  - if @spider.brand.crawler_templates.length > 0
    = link_to 'edit weibo template', edit_crawler_template_path(@spider.brand.crawler_templates.first)

%p
  %b Brand:
  = @spider.brand.name
%p
  %b Product page:
  = @spider.product_page
%p
  %b Next page:
  = @spider.next_page
%p
  %b Ptitle:
  = @spider.ptitle
%p
  %b Pprice:
  = @spider.pprice
%p
  %b Pdesc:
  = @spider.pdesc
%p
  %b Pimgs:
  = @spider.pimgs
%p
  %b Others:
  = @spider.others

= link_to 'Edit', edit_spider_path(@spider)
\|
= link_to 'Back', spiders_path
