
<h1>
  <%= link_to "new color", new_manage_main_color_path %>
</h1>
<table class="table">
  <tr>
    <th>ID</th>
    <th>color</th>
    <th>color value</th>
    <th>color rgb</th>
    <th>operate</th>
  </tr>

  <% unless @main_colors.blank? %>
  <% @main_colors.each do |c| %>
  <tr>
    <td>
      <%= c.id %>
    </td>
    <td>
      <span style="display: inline-block; height: 30px; width: 30px; background: <%= c.color_value %>"></span>
    </td>
    <td>
      <%= c.color_value %>
    </td>
    <td>
      <%= ["R", c.color_r, "G", c.color_g, "B", c.color_b].join %>
    </td>
    <td>
      <%= link_to "edit", edit_manage_main_color_path(c) %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>