%h1 Listing dapei_responses

%table
  %tr
    %th id
    %th Request
    %th User
    %th u搭配回答数
    %th u回答数
    %th u请求数
    %th Response text
    %th Dapei
    %th Likes count
    %th Comments count
    %th Dispose count
    %th Response image
    %th dp level
    %th
    %th

  - @dapei_responses.each do |dapei_response|
    %tr
      %td= dapei_response.id
      %td= dapei_response.response_text
      %td
        - if dapei_response.user
          = link_to dapei_response.get_user_debug_name, "?user_id=#{dapei_response.user.url}"
      %td
        - if dapei_response.user
          = link_to dapei_response.user.v_dapei_responses_count, "/manage/dapei_responses?user_id=#{dapei_response.user.url}&v=1"
      %td
        - if dapei_response.user
          = link_to dapei_response.user.dapei_responses_count, "/manage/dapei_responses?user_id=#{dapei_response.user.url}" 
      %td
        - if dapei_response.user 
          = link_to dapei_response.user.dapei_requests_count, "/manage/ask_for_dapeis?user_id=#{dapei_response.user.url}" 
      %td
        - if dapei_response.get_request
          = dapei_response.get_request.title
      %td= dapei_response.dapei_id
      %td= dapei_response.likes_count
      %td= dapei_response.comments_count
      %td= dapei_response.dispose_count
      %td 
        - if dapei_response.get_dapei
          %img{:src => dapei_response.get_dapei.dapei_img_url }
        - dapei_response.photos.each do |p|
          %img{:src => p.url }  
      %td
        - if dapei_response.get_request 
          = dapei_response.get_request.level
      %td= link_to '删除', [:manage, dapei_response], :method => :delete, :data => { :confirm => 'Are you sure?' }
  #page_nav
    =paginate @dapei_responses
%br

= link_to 'New Dapei response', new_dapei_response_path
