%p#notice= notice

%p
  %b Request:
  = @dapei_response.request_id
%p
  %b User:
  = @dapei_response.user_id
%p
  %b Response text:
  = @dapei_response.response_text
%p
  %b Dapei:
  = @dapei_response.dapei_id
%p
  %b Likes count:
  = @dapei_response.likes_count
%p
  %b Comments count:
  = @dapei_response.comments_count
%p
  %b Dispose count:
  = @dapei_response.dispose_count
%p
  %b Response image:
  = @dapei_response.response_image

= link_to 'Edit', edit_dapei_response_path(@dapei_response)
\|
= link_to 'Back', dapei_responses_path
