/ 完善资料
.recom-p.clearfix.change_data
  .hd
    %strong
      帐户设置
    %a.mark_up{:href => "#"}
  .clearfix.bd
    .left
      %ul
        %li
          %a{:href => "/accounts/info/edit"} 修改资料
        %li.whole
          %a{:href => "/change_password"} 修改密码
    .right
      = simple_form_for(resource, :as => resource_name, :validate=>true, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|
        = f.error_notification
        %ul
          %li
            = f.input :current_password,:label=>"当前密码 :", :label_html=>{:class=>"title"}, :input_html=>{:style=>"width:220px;"},  :required => true
          %li
            = f.input :password, :autocomplete => "off",  :label=>"新密码 :", :label_html=>{:class=>"title"}, :input_html=>{:style=>"width:220px;"}, :required => false
          %li
            = f.input :password_confirmation, :required => false, :label=>"密码确认 :", :label_html=>{:class=>"title"}, :input_html=>{:style=>"width:220px;"}
          %li            
            = f.button :submit, '提交修改', :class => 'submit_btn'
