<%= search_form_for [:manage, @q], html: {class: 'form-inline',role: 'form',style: 'margin-top:30px;'} do |f| %>
  <div class="form-group">
    <label class="sr-only">ShopName</label>
    <%= f.text_field :brand_name_cont, class: 'form-control', placeholder: '品牌名' %>
  </div>
  <%= f.submit '搜索', class: 'btn btn-primary'%> 
  <%= total_span @tshow_spiders %>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th width="6%">ID</th>
      <th>品牌名</th>
      <th>模板</th>
      <th width="10%">停止</th>
      <th width="17%"><%= sort_link @q, :created_at, '创建时间' %></th> 
      <th width="17%"><%= sort_link @q, :last_updated, '最后爬取日期' %></th>
      <th width="12%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @tshow_spiders.each do |tshow_spider| %>
      <tr>
        <td>
          <span class="badge">
            <%= tshow_spider.id %>
          </span>
        </td>
        <td><%= link_to tshow_spider.brand.try(:name), "/manage/tshows?brand_id=#{tshow_spider.brand.id}" %></td>
        <td>
        <% if tshow_spider.template_spider.id != tshow_spider.id %>
          <%= link_to tshow_spider.template_spider.brand.try(:name), "/manage/tshow_spiders?tid=#{tshow_spider.template_spider.id}" %>
        <% end %>
        </td>
        
        <td><span class="badge"><%= tshow_spider.stop ? '已停' : '未停' %></span></td>
        <td><%= to_local tshow_spider.created_at unless tshow_spider.created_at.nil?%></td>
        <td><%= to_local tshow_spider.last_updated unless tshow_spider.last_updated.nil?%></td>
        <td>
          <%= link_to '编辑', [:edit,:manage,tshow_spider] %> |
          <%= link_to '删除', [:manage,tshow_spider], method: :delete, class: 'ajaxd', 
          remote: true, confirm: 'Are you sure' %> |
          <%= link_to '立即启动爬取', [:start_crawl,:manage,tshow_spider],  remote: true, confirm: '确定吗立即启动爬取？' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tshow_spiders %>  
