.wrapper
  .my-home-head
    %ul.nav.nav-float
      %li
        .my-avatar
          %img{:src => "#{@user.display_img_medium}"}/
      %li
        %ul.nav.user-info
          %li.username
            = @user.display_name
          - unless @user.is_shop
            %li.user-address
              -if @user.city and @user.city!=""
                %span 来自：
                %span.address #{@user.city}
              -else
                %span 来自：
                %span.address 还不知道。
            %li.user-desc
              -if user.desc!=""
                %span 自我介绍：
                %span.desc #{@user.desc}
              -else
                %span 自我介绍：
                %span.desc 恭喜发财,万事如意
            %li.user-desc
              %span 上街记录：
              %span.desc 已发布 #{@user.dapei_count} 搭配, &nbsp; &nbsp; 共获得#{@user.dapei_likes_count}赞
          - else
            %li.user-desc
              - if user.desc!=""
                %span.desc #{@user.get_desc}

          -if user_signed_in?
            %li.follow-this
              -if user_signed_in? and user==current_user
                %span.follow-me
                  %a.Modify_data{:href => "#{edit_user_registration_path}"} 修改资料
              -else
                %span.follow-me
                  = render :partial => "/shared/follow", :locals => {:followable => @user}

      %li
        %ul.user-data.nav
          - if current_user and current_user.id == @user.id
            %li
              %span.icon-plus
              %span.data
                %a{:href => "/matters/new_matter"}上传素材
          - else
            %li.active
              %span.icon-plus
              %span.data
                %a{:href => "#{upload_matters_path(@user)}"}TA的素材
          -if nav_class=="main"
            %li.active
              %span.icon-plus
              %span.data 
                %a{:href => "#{user_path(@user)}"}发布的搭配
          -else
            %li.first
              %span.icon-plus
              %span.data 
                %a{:href => "#{user_path(@user)}"}发布的搭配
          - unless @user.is_shop
            -if nav_class=="likes"
              %li.active
                %span.icon-love
                %span.data 
                  %a{:href => "#{favorite_dapeis_path(@user)}"}收藏中心
            -else
              %li
                %span.icon-love
                %span.data
                  %a{:href => "#{favorite_dapeis_path(@user)}"}收藏中心
          -if nav_class=="followings"
            %li.active
              %span.icon-look
              %span.data
                %a{:href => "#{followings_path(@user)}"} 关注的人( #{user.following_count})
          -else
            %li
              %span.icon-look
              %span.data
                %a{:href => "#{followings_path(@user)}"} 关注的人( #{user.following_count})
          -if nav_class=="followers"
            %li.active
              %span.icon-user
              %span.data 
                %a{:href => "#{followers_path(@user)}"} TA的粉丝( #{user.followers_count})
          -else
            %li
              %span.icon-user
              %span.data
                %a{:href => "#{followers_path(@user)}"} TA的粉丝( #{user.followers_count})

  .my-home-main

