.wrapper
  .hot-dapei-tag
    %h2
      - if user_signed_in?
        %a{:href => "/collocations", :style=>'background:red;'} #{@guide_word}
      - else
        %a{:href => "#{layer_sign_in_path}", :rel => "facebox[.about]", :style=>'background:red;'} >>去搭配
    %h2
      - if user_signed_in?
        %a{:href=>"/users/#{@su.url}", :style=>'background:red;'} >>查看#{@su.name}主页

  .hot-dapei-tag
    .hot-dapei-tag-head
      %h2{:style => "float:left;"}
        关注的
    .hot-dapei-tags
      - if @fusers.length > 0
        %ul.nav.nav-float
          - @fusers.each do |bu|
            %li
              %h5
                %a{:href=>"/?suid=#{bu.url}"}
                  = bu.name
      - else
        %p
          请先关注一些品牌  

  .hot-dapei-tag
    .hot-dapei-tag-head
      %h2{:style => "float:left;"}
        推荐品牌
    .hot-dapei-tags
      %ul.nav.nav-float
        - @brand_users.each do |bu|
          - unless current_user.following?(bu)
            %li
              %h4
                %a{:href=>"/users/#{bu.url}"}
                  = bu.name

  .dapei-body
    - if @dapeis
      %ul.nav.nav-float.stream
        -#- i=1
        - @dapeis.each  do |d|
          -#- if i%3==0
            = render :partial=>"/dapeis/dapei_list_item", :locals=>{:dapei=>d, :dis_class=>"ul-last-li"}
          -#-else
          = render :partial=>"/dapeis/dapei_list_item", :locals=>{:dapei=>d, :dis_class=>"holder"}
          -#-i=i+1
      #page_nav
        = will_paginate @dapeis
    - else
      %p 
        请先关注一些品牌 
