/ 区域菜单
.recom-p.clearfix.area_menu
  .left
    .wrapper
      .head-select
        %ul.area.nav.nav-float
          %li.first-li
            区域
            %b.caret-x
          %li 
            %a{:href => "#{ search_path( @index, @sort, "", @query, @cid,"", "", @brand )}" }不限
          %li.select-area-list
            %ul.nav.nav-float
              -@dists.each do |dist|
                -if @current_dist and  @current_dist.id==dist.id
                  %li.active
                    %a{:href => "#{search_path(@index, @sort, dist.dp_id, @query, @cid)}"} #{dist.name}
                -else
                  %li
                    %a{:href => "#{search_path(@index, @sort, dist.dp_id, @query, @cid)}"} #{dist.name}
          %li.area-more-li
            %span.icon-more
              更多
        %ul.address.nav.nav-float
          %li.first-li
            地点
            %b.caret-x
          %li 
            %a{:href => "#{ search_path( @index, @sort, @dp_id, @query, @cid,"", "", @brand )}" } 不限
          %li.select-area-list
            %ul.nav.nav-float
              -@sg.each do |s|
                %li{:class=>"#{li_class_street(s['street'])}"}
                  %a{:href => "#{ search_path( @index, @sort, @dp_id, @query, @cid, s['street'],"", @brand )}" } #{s['street']} (#{s['count']})
          %li.area-more-li
            %span.icon-more
              更多

        %ul.brand.nav.nav-float
          %li.first-li
            品牌
            %b.caret-x
          %li 
            %a{:href => "#{search_path(@index, @sort, @dp_id, @query, @cid,@street, "", "" )}" }不限
          %li.select-area-list
            %ul.nav.nav-float
              -@bg.each do |s|
                %li{:class=>"#{li_class_brand(s['brand_name'])}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, @cid, @street,"", s['brand_name'] )}"} #{s['brand_name']}
          %li.area-more-li
            %span.icon-more
              更多
        
        - if @index == "item" or @index == "shop" 
          %ul.category.nav.nav-float
            %li.first-li
              分类
              %b.caret-x
            %li
              %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "", @street,"", @brand )}"}不限
            %li.select-area-list
              %ul.nav.nav-float
                %li{:class=>"#{li_class_cat("11")}"} 
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "11", @street,"", @brand )}"} 上装
                %li{:class=>"#{li_class_cat("12")}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "12", @street,"", @brand )}"} 裤装
                %li{:class=>"#{li_class_cat("13")}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "13", @street,"", @brand )}"} 裙装
                %li{:class=>"#{li_class_cat("14")}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "14", @street,"", @brand )}"} 内衣
                %li{:class=>"#{li_class_cat("4")}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "4", @street,"", @brand )}"} 鞋子
                %li{:class=>"#{li_class_cat("5")}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "5", @street,"", @brand )}"} 包包
                %li{:class=>"#{li_class_cat("6")}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "6", @street,"", @brand )}"} 配饰
                %li{:class=>"#{li_class_cat("7")}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, "7", @street,"", @brand )}"} 男装
          %ul.price.nav.nav-float
            %li.first-li
              价格
              %b.caret-x
            %li
              ¥ 
              %span.price-select-span
                %input{:name => "low_price", :value =>"#{@low_price}",  :class => "price-input", :type => "text"}/
                \-
                %input{:name => "high_price", :value =>"#{@high_price}", :class => "price-input", :type => "text"}/
                .cancel-submit
                  %button{:class => "cancel-price"} 取消
                  \-
                  %button{:class => "submit-price", :onclick =>"goPriceSearch(); return false;"} 提交
            -#%li
              %span.filter-dis
                %input{:type => "checkbox", :class => "price-checkbox"}/
                带打折/优惠券的宝贝店铺
      .items-num
        .left-bar
          .holder
            = search_info
          -#.change
            = change_link
        %ul.nav.nav-float.pull-right
          %li{:class=>"#{li_class('new')}"}
            %a{:href => "#{search_path(@index, "new", @dp_id, @query, @cid, @street, @mall, @brand)}"} 按时间排序
          %li{:class=> "#{li_class('hot')}"}
            %a{:href =>"#{search_path(@index, "hot", @dp_id, @query, @cid, @street, @mall, @brand)}"} 按热度排序 
          -#%li
            %a{:href => "#"} 相关度排序

    -#- if current_user and current_user.can_be_admin and @query_info and @query_info['obj']
      = link_to "edit", edit_mall_path( @query_info['obj'] )
    -#.holder
      -#.area_head
        %h2
          %a{:href => "#{search_path(@index)}"} 区域 
        %ul
          %li
            %a{:href => "#{ search_path( @index, @sort, "", @query, @cid,"", "", @brand )}" } 不限
          - @dists.each do |dist|
            -if @current_dist and  @current_dist.id==dist.id
              %li.current
                %a{:href => "#{search_path(@index, @sort, dist.dp_id, @query, @cid)}"} #{dist.name}
            -else
              %li
                %a{:href => "#{search_path(@index, @sort, dist.dp_id, @query, @cid)}"} #{dist.name}

      -#.area_list
        - if @sg and @sg.length > 0
          %h2
            %a{:href => "javascript:void(0)"} 地点
          .mall_list
            %ul
              %li
                %a{:href => "#{ search_path( @index, @sort, @dp_id, @query, @cid,"", "", @brand )}" } 不限
              -i=1
              -@sg.each do |s|
                -break if i>8
                %li{:class=>"#{li_class_street(s['street'])}"}
                  %a{:href => "#{ search_path( @index, @sort, @dp_id, @query, @cid, s['street'],"", @brand )}" } #{s['street']} (#{s['count']})
                -i=i+1
              -if @sg.length>9
                .more_block
                  -j=1
                  -@sg.each do |s|
                    -if j>8
                      %li{:class=>"#{li_class_street(s['street'])}"}
                        %a{:href => "#{ search_path( @index, @sort, @dp_id, @query, @cid, s['street'],"", @brand )}" } #{s['street']} (#{s['count']})
                    -j=j+1
            -if @sg.length>10
              .more
                更多>

      -#.area_list.area_list2
        - if @bg and @bg.length > 0
          .lefthead
            %a{:href => "javascript:void(0)"} 品牌
          .street_list
            %ul
              %li
                %a{:href => "#{ search_path(  @index, @sort, @dp_id, @query, @cid,@street, "", "" )}" } 不限
              -i=1
              -@bg.each do |s|
                -break if i>8
                %li{:class=>"#{li_class_brand(s['brand_name'])}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, @cid, @street,"", s['brand_name'] )}"} #{s['brand_name']}
                -i=i+1
              -if @bg.length>9
                .more_block
                  -j=1
                  -@bg.each do |s|
                    -if j>8
                      %li{:class=>"#{li_class_brand(s['brand_name'])}"}
                        %a{:href => "#{search_path(@index, @sort, @dp_id, @query, @cid, @street,"", s['brand_name'] )}"} #{s['brand_name']}
                    -j=j+1
            -#%ul
              %li
                %a{:href => "#{ search_path( @index, @sort, @dp_id, @query, @cid,@street, "", "" )}" } 不限  
              - @bg.each do |s|
                %li{:class=>"#{li_class_brand(s['brand_name'])}"}
                  %a{:href => "#{search_path(@index, @sort, @dp_id, @query, @cid, @street,"", s['brand_name'] )}"} #{s['brand_name']} (#{s['count']})
            -if @bg.length>8
              .more
                更多>
  -#.right
    #map_canvas.map-s{:style => "width:350px;min-height:240px; /*border:1px solid gray*/"}
    /%img{:height => "215", :src => "/assets/img.jpg", :width => "350"}/

-#:javascript
  var map = new BMap.Map("map_canvas");
  var point = new BMap.Point(#{@lng}, #{@lat});
  var points = []
  var infowins = []
  var idx = 0
  map.centerAndZoom(point, 17);
  map.addControl(new BMap.NavigationControl( {type: BMAP_NAVIGATION_CONTROL_ZOOM} ));

-#- @results.each do |r|
  - if r != nil
    :javascript
      var point = new BMap.Point(#{r.jindu}, #{r.weidu});
      points.push(point);
      var marker = new BMap.Marker(point, {title : "#{r.shop_name}"});
      map.addOverlay(marker);
      //var html = '<div><a href="/#{r.shop_url}"><img src="#{r.shop_avatar_url}" width=50/>#{r.shop_name}</a></div>';
      //var info = new BMap.InfoWindow(html);
      //infowins.push(info)
      //marker.addEventListener("click", function(){
      //  this.openInfoWindow(info);
      //});
      map.addOverlay(point);

-#:javascript
  map.setViewport(points);
