- cache "home_#{@city_id}" do
  = render "hot_banner"
  = render "hot_baobei"
  = render "hot_shop"
  = render "hot_brand"
  = render "hot_dapei"

-#= render "hot_daren"

-#- unless user_signed_in?
  = render "shared/login_footer" 

