<%= search_form_for [:manage, @q], html: {class: 'form-inline',role: 'form',style: 'margin-top:30px;'} do |f| %>
  <div class="form-group">
    <label class="sr-only">BrandTagName</label>
    <%= f.text_field :name_cont, class: 'form-control', placeholder: '名称' %>
  </div>
  <%= f.submit '搜索', class: 'btn btn-primary btn-sm'%> 
  <%= total_span @brand_tags %>
  <div class="form-group pull-right">
    <%= link_to  [:new,:manage,:brand_tag], class: 'btn btn-primary btn-sm', id: 'a_obj' do %>
      <span class="glyphicon glyphicon-plus"></span>新建友链 
    <% end %>
  </div>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th width="20%">名称</th>
      <th>Thing图</th>
      <th width="6%">状态</th>
      <th>类型</th>
      <th width="17%"><%= sort_link @q, :created_at, '创建时间' %></th>
      <th width="12%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @brand_tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, "/manage/brands?tid=#{tag.id}" %></td>
        <td><%= tag.thing_image_id %></td>
        <td><span class="badge"><%= tag.on %></span></td>
        <td><%= tag.type_id %></td>
        <td><%= to_local tag.created_at %></td>
        <td> 
          <%= link_to '编辑', [:edit,:manage,tag], class: :e_obj %> | 
          <%= link_to '删除', [:manage,tag], remote: true, method: :delete,  
          confirm: 'Are you sure?', class: 'ajaxd' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @brand_tags %>  
