<div class="bs-sidebar hidden-print affix-top" role="complementary">
  <ul class="nav bs-sidenav">
    <li class="active">
      <%= link_to '其它管理', '#', style: 'border-right:1px solid #f7f5fa;' %>
      <ul class="nav">
        <li>
          <%= link_to '求搭配', '/manage/ask_for_dapeis/new' %>
        </li>
      </ul>
 
      <ul class="nav">
        <li>
          <%= link_to '热门问题', '/manage/ask_for_dapeis?order=hot' %>
        </li>
      </ul>
 
     <ul class="nav">
        <li>
          <%= link_to '答复列表', manage_dapei_responses_path %>
        </li>
      </ul>

      <ul class="nav">
        <li>
          <%= link_to '热门答复', '/manage/dapei_responses?order=hot' %>
        </li>
      </ul>
   

      <ul class="nav">
        <li>
          <%= link_to '未回答列表', '/manage/ask_for_dapeis?n=' %>
        </li>
      </ul>
    </li>
    <li class="active">
    </li>
  </ul>
</div>
