%table
  %tr
    %th id
    %th User
    %th u搭配回答数
    %th u回答数
    %th u请求数
    %th title
    %th Matter
    %th created_at
    %th Level
    %th Dapei
    %th Dispose count
    %th 操作
    %th 回答数目
    %th
    %th

  - @ask_for_dapeis.each do |ask_for_dapei|
    %tr
      %td= ask_for_dapei.id
      %td
        = link_to ask_for_dapei.user.get_debug_name, "?user_id=#{ask_for_dapei.user.url}"
      %td
        = link_to ask_for_dapei.user.v_dapei_responses_count, "/manage/dapei_responses?user_id=#{ask_for_dapei.user.url}&v=1"
      %td
        = link_to ask_for_dapei.user.dapei_responses_count, "/manage/dapei_responses?user_id=#{ask_for_dapei.user.url}"
      %td
        = link_to ask_for_dapei.user.dapei_requests_count, "/manage/ask_for_dapeis?user_id=#{ask_for_dapei.user.url}"
      %td= ask_for_dapei.title
      %td= ask_for_dapei.matter_id
      %td= to_local(ask_for_dapei.created_at)
      %td= ask_for_dapei.level
      %td= ask_for_dapei.dapei_id
      %td
        %img{:src => "#{ask_for_dapei.get_small_jpg}"}
      %td= ask_for_dapei.get_dispose_count
      %td
        = link_to '编辑', [:edit, :manage,ask_for_dapei]
        = link_to '回复', "/manage/dapei_responses/new?request_id=#{ask_for_dapei.id}"
        - if ask_for_dapei.level.to_i < 5
          = link_to '置顶', "/ask_for_dapeis/#{ask_for_dapei.id}/stick",  remote: true, confirm: 'Are you sure ?'
        - else
          = link_to '取消置顶', "/ask_for_dapeis/#{ask_for_dapei.id}/unstick",  remote: true, confirm: 'Are you sure ?'
        - if ask_for_dapei.level.to_i >= 0
          = link_to '删除', [:manage,ask_for_dapei], method: :delete, remote: true, confirm: 'Are you sure ?'
        - else
          = link_to '取消删除', "/manage/ask_for_dapeis/#{ask_for_dapei.id}/undestroy"
      %td
        = link_to ask_for_dapei.answers_count.to_s,  "/manage/dapei_responses?request_id=#{ask_for_dapei.id}"
  #result
    #{@count}个结果
  #page_nav
    = will_paginate @ask_for_dapeis
%br
