<%= search_form_for @q, url: "/manage/skus", html: {class: 'form-inline',role: 'form',style: 'margin-top:30px;'} do |f| %>
  <div class="form-group" style="width:20%;">
    <label class="sr-only">SkuId</label>
    <%= f.text_field :id_eq, class: 'form-control', placeholder: 'SKU ID' %>
  </div>
  <div class="form-group" style="width:20%;">
    <label class="sr-only">SkuTitle</label>
    <%= f.text_field :title_cont, class: 'form-control', placeholder: 'SKU标题' %>
  </div>
  <div class="form-group" style="width:20%;">
    <label class="sr-only">SkuBrandName</label>
    <%= f.text_field :brand_name_cont, class: 'form-control', placeholder: '品牌名' %>
  </div>

  <%= f.submit '搜索', class: 'btn btn-primary'%> 
  <%= total_span @skus %>
<% end %>


<div class="well">
  <%= link_to "自动添加标签处理", add_tags_rake_manage_skus_path, remote: true, class: "btn btn-primary" %>

  <%= link_to "自动二级分类处理", add_categories_rake_manage_skus_path, remote: true, class: "btn btn-primary" %>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th>标题</th>
      <th>信息</th>
      <th width="15%">分类</th>
      <th width="17%">标签</th>
      <th>图片</th>
      <th>对应素材</th>
      <th width="10%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @skus.each do |sku| %>
      <tr>
        <td>

          <div>
            <span class="label label-default">
                ID: <%= sku.id %>
            </span>
          </div>
          <p>
          </p>

          <br/>
          <p>
            <%= link_to sku.title, sku.buy_url %>
          </p>

          <br/>

          <p>
           <span class="label label-danger">¥ <%= sku.price %></span>
          </p>

          <br/>

          <p>
            <span class="label label-success">
               <%= to_local sku.created_at %>
            </span>
          </p>

        </td>

        <td>
          <p>
            品牌
            <br/>
            <%= link_to sku.brand.try(:name), "?brand_id=#{sku.brand_id}" unless sku.brand.blank? %>
          </p>

          <p>
            Level<br>
            <%= select_tag :sku_level, options_for_select(@levels_for_select, sku.try(:level).to_i), class: "sku_level", "data-id" => sku.id %>
          </p>

          <p>
            Brand Level<br/>
            <%= select_tag :brand_level, options_for_select(@levels_for_select, sku.brand.try(:level).to_i), class: "brand_level", "data-id" => sku.id %>
          </p>
        </td>
        
        <td>
          <p class="alert-info text-center" style="padding: 10px 0">
            一级分类
            <br/>
            <%= select_tag :first_category, options_for_select([["选择分类", 0]] + @first_categories_for_select, sku.category_id), class: "first_category", "data-id" => sku.id %>
          </p>

          <p class="alert-danger text-center" style="padding: 10px 0">
            二级分类
            <br/>
            <% @second_categories_for_select = Category.get_all_active_sub_categories(sku.category_id).collect{|c| [c.name, c.id] } %>

            <%= select_tag :second_category, options_for_select([["选择分类", 0]] + @second_categories_for_select, sku.sub_category_id), class: "second_category", "data-id" => sku.id %>
          </p>

          <p>
            <%= link_to "二级分类处理", add_categories_rake_manage_skus_path(:sku_id => sku.id), remote: true, class: "btn btn-primary" %>
          </p>

        </td>
       
        <td>
          <p>
           加入选集
           <br/> 
              <%= select_tag :collection_id, options_for_select([["选择选集", nil]] + @collections.collect {|p| [ p.title, p.id ] }, sku.collection_id), class: "second_category", "data-id" => sku.id %>            
          </p>  
        </td>       


        <td>
          <%= text_field_tag :tags, sku.tag_list.join(","), class: "tags", "data-id" => sku.id, "data-provide" => "typeahead" %>
          <p>
            <%= link_to "添加标签处理", add_tags_rake_manage_skus_path(:sku_id => sku.id), remote: true, class: "btn btn-primary" %>
          </p>
        </td>


        <% photos = sku.photos %>
        <% fphoto = sku.photos.first %>
        <td style="padding:1px; width:72px;"> 
          <div style="display:none;">
            <div id="inline_content<%= sku.id %>" style='background:#fff;'>
              <div class="row" style="margin:0px;">
                <% photos.each do |p| %>
                  <div class="col-sm-3 col-md-2 photo">
                    <div class="thumbnail">
                      <img alt="300x200" style="width: 300px; height: 200px;" src="<%= p.url(:scaled_medium) %>">
                      <div class="caption">
                        <p> 
                        <%= link_to '删除', [:manage,p], method: :delete, remote: true,
                          confirm: 'Are you sure?', class: 'del-photo' %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div> 
            </div>
          </div>
          <%= link_to fphoto.try(:url,:scaled_medium), class: 'preview', title: sku.title do %>
            <img src="<%= fphoto.try(:url,:scaled_medium) %>", style="width:70px; height:56px;" />
          <% end %>
        </td>
           
        <td>
            <img src="<%= sku.matter_img_url(:scaled_medium) %>", style="width:70px; height:56px;" />
        </td>

        <td>
          <%= link_to '编辑', [:edit,:manage,sku] %>
          <br/>
          <hr/>
          <%= link_to '编辑品牌', [:edit,:manage, sku.brand] unless sku.brand.blank? %>
          <br/>
          <hr/>
          <% unless sku.deleted %>
            <%= link_to '删除', [:manage,sku], method: :delete, class: 'ajaxd', 
            remote: true, confirm: 'Are you sure' %>
          <% else %> 
             已删除
          <% end %>
          <br/>
          <hr/>
          <%= link_to '显图', "#inline_content#{sku.id}", class: 'sku_images' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @skus %>


<link rel="stylesheet" type="text/css" href="http://1251008728.cdn.myqcloud.com/1251008728/assets/css/select2.css"/>
<link rel="stylesheet" type="text/css" href="http://1251008728.cdn.myqcloud.com/1251008728/assets/css/jquery.jgrowl.min.css"/>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/assets/javascripts/jquery.jgrowl.min.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/assets/javascripts/select2.min.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2014/08/11/typeahead.bundle.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2014/08/11/bootstrap3-typeahead.min.js"></script>

<script type="text/javascript">

    var all_tags = <%= raw @all_tags.collect{|tag| tag.name}.to_json %>;

    $(function(){

        $(".first_category").select2();
        $(".second_category").select2();

        $(".first_category").change(function(){
            var pid = $(this).val();
            var sku_id = $(this).attr("data-id");
            var second = $(this).parent().parent().parent().find("#second_category");

            $.get("/manage/categories/ajax_select_change", {pid: pid}, function(data){

                $(second).html(data);
                $(second).select2();

            });

            $.get("/manage/skus/ajax_update_edit", {sku_id: sku_id, first_category_id: pid}, function(data){
                $.jGrowl(data.result, {
                    closer: true
                });
            });
        });

        $(".second_category").change(function(){
            var pid = $(this).val();
            var sku_id = $(this).attr("data-id");

            $.get("/manage/skus/ajax_update_edit", {sku_id: sku_id, sub_category_id: pid}, function(data){
                $.jGrowl(data.result, {
                    closer: true
                });
            });
        });

        $(".brand_level").change(function(){

            var sku_id = $(this).attr("data-id");

            var brand_level = $(this).val();

            console.log("sku_id is "+ sku_id + "----brand_level is"+brand_level);

            $.get("/manage/skus/ajax_update_edit", {sku_id: sku_id, brand_level: brand_level}, function(data){
                $.jGrowl(data.result, {
                    closer: true
                });
            });

        });

        $(".sku_level").change(function(){

            var sku_id = $(this).attr("data-id");

            var sku_level = $(this).val();

            console.log("sku_id is "+ sku_id + "----sku_level is"+brand_level);

            $.get("/manage/skus/ajax_update_edit", {sku_id: sku_id, sku_level: sku_level}, function(data){
                $.jGrowl(data.result, {
                    closer: true
                });
            });

        });

        $(".tags").tagsinput({
          typeahead: {
            source: all_tags
          }
        });

        $(".tags").change(function(){

          var sku_id = $(this).attr("data-id");
          var tag_list = $(this).val();

          $.get("/manage/skus/ajax_update_edit", {sku_id: sku_id, tag_list: tag_list}, function(data){
              $.jGrowl(data.result, {
                closer: true
              });
          });
        });

    });

</script>

<style>
  .bootstrap-tagsinput span.tag:after{
      content: "";
      clear: both;
      margin-top: 20px;
      display: inline-block;
  }
</style>
