<%= search_form_for @q, url: {controller: 'manage/skus', action: 'with_or_without_data_brands', with_or_without: @with_or_without}, html: {class: 'form-inline',role: 'form',style: 'margin-top:30px;'} do |f| %>
  <div class="form-group">
    <label class="sr-only">BrandName</label>
    <%= f.text_field :name_cont, class: 'form-control', placeholder: '品牌名' %>
  </div>

  <%= f.submit '搜索', class: 'btn btn-primary btn-xs'%> 
  <%= total_span @brands %>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th width="6%">ID</th>
      <th>Logo</th>
      <th>品牌名</th>
      <th width="6%">级别</th>
      <th width="12%"><%= sort_link @q, :created_at, '创建时间' %></th>
      <th width="12%"><%= sort_link @q, :last_updated, '最后爬取时间' %></th>
      <th width="20%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td> 
          <span class="badge">
            <%= brand.id %> 
          </span>
        </td>
        <td width="102px;"> 
          <img src="<%= brand.black_avatar_url %>" style="width: 100px; height:42px;" />
        </td>
        <td>
          <%= link_to brand.name, "/manage/skus?brand_id=#{brand.id}" %>
        </td>
        <td> 
          <% if brand.level %>
            <span class="badge">
              <%= brand.level %> 
            </span>
          <% end %>
        </td>
        <td><%= to_local brand.created_at %></td>
        <td><%= to_local brand.last_updated %></td>
        <td>
          <%= link_to '爬虫', [:spiders,:manage,brand] %> |
          <%= link_to '最近所爬取SKU', "/manage/skus?brand_id=#{brand.id}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @brands %>  
