<%= form_for [:manage,@spider], html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%= f.hidden_field :brand_id %>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <%= f.check_box :stop %> 是否停止 ?
      </div>
    </div>
  </div>


  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <%= f.check_box :use_product_page %> 是否抓取产品页 ?
      </div>
    </div>
  </div>

  
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">导购</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <%= f.check_box :is_guide %> 是否导购到官网 ?
      </div>
    </div>
  </div>
  
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">模板选择</label>
    <div class="col-sm-3">
      <%= f.select :template_id, @templates, {include_blank: '无模板'}, class: 'form-control input-sm' %>
    </div>
  </div>
  
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">模板</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <%= f.check_box :is_template %> 是否有 ?
      </div>
    </div>
  </div>

  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">选取图片规则</label>
    <div class="col-sm-3">
      <%= f.text_field :matter_rule, class: 'form-control input-sm', rows: 2 %>
    </div>
  </div>



  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">裁剪参数</label>
    <div class="col-sm-3">
      <%= f.text_area :crop, class: 'form-control input-sm', rows: 2 %>
    </div>
  </div>

  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">更新周期</label>
    <div class="col-sm-3">
      <%= f.number_field :update_period, class: 'form-control input-sm' %>
    </div>
  </div>

  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">分类页</label>
    <div class="col-sm-3">
      <%= f.text_field :category_page, class: 'form-control input-sm', rows: 2 %>
    </div>
  </div>

  
  <div class="form-group">
    <%= link_to  "/manage/spiders/#{@spider.id}/spider_pages/new", class: 'btn btn-primary btn-sm', id: 'a_obj' do %>
      <span class="glyphicon glyphicon-plus"></span>新建爬虫页
    <% end %>
    
    <table class="table">
      <tbody>
        <% @spider.get_spider_pages.each do |p|%>
        <tr>
         <td>
           <%= p.name %>
         </td>
          <td>
           <%= p.get_parent_name %>
         </td>
         <td>
           <%= p.link %>
         </td>
         <td>
           <%= link_to '编辑', [:edit, :manage, @spider, p]%>
         <td>
            <%= link_to '删除', [:manage, @spider, p], :title=>"删除",:method=>"delete", :confirm=>"确定删除吗?" %>
         </td>  
        </tr>
        <%end%>
        
       </tbody>
     </table>  
  </div>

  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">产品页</label>
    <div class="col-sm-10">
      <%= f.text_area :product_page, class: 'form-control', rows: 2 %>
    </div>
  </div>

  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">产品标题</label>
    <div class="col-sm-10">
      <%= f.text_area :product_title, class: 'form-control', rows: 2 %>
    </div>
  </div>

  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">产品图片</label>
    <div class="col-sm-10">
      <%= f.text_area :product_img, class: 'form-control', rows: 2 %>
    </div>
  </div>


  
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">下一页</label>
    <div class="col-sm-10">
      <%= f.text_area :next_page, class: 'form-control', rows: 2 %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Title</label>
    <div class="col-sm-10">
      <%= f.text_field :ptitle, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Price</label>
    <div class="col-sm-10">
      <%= f.text_field :pprice, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Origin Price</label>
    <div class="col-sm-10">
      <%= f.text_field :porigin_price, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">Now Price</label>
    <div class="col-sm-10">
      <%= f.text_field :now_price, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Desc</label>
    <div class="col-sm-10">
      <%= f.text_field :pdesc, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Code</label>
    <div class="col-sm-10">
      <%= f.text_field :pcode, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Hot</label>
    <div class="col-sm-10">
      <%= f.text_field :phot, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Imgs</label>
    <div class="col-sm-10">
      <%= f.text_field :pimgs, class: 'form-control' %>
    </div>
  </div>
 
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P DP Imgs</label>
    <div class="col-sm-10">
      <%= f.text_field :dp_img, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Imgs Attr</label>
    <div class="col-sm-10">
      <%= f.text_field :pimg_attr, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Dp Imgs Attr</label>
    <div class="col-sm-10">
      <%= f.text_field :dp_img_attr, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">Img Rule</label>
    <div class="col-sm-10">
      <%= f.text_field :img_rule, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">Dp Img Rule</label>
    <div class="col-sm-10">
      <%= f.text_field :dp_img_rule, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Color</label>
    <div class="col-sm-10">
      <%= f.text_field :pcolor, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Size</label>
    <div class="col-sm-10">
      <%= f.text_field :psize, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Show Img</label>
    <div class="col-sm-10">
      <%= f.text_field :pshow_img, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Store Count</label>
    <div class="col-sm-10">
      <%= f.text_field :pstore_count, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Sold Count</label>
    <div class="col-sm-10">
      <%= f.text_field :psold_count, class: 'form-control' %>
    </div>
  </div> 
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">P Sold Out</label>
    <div class="col-sm-10">
      <%= f.text_field :sold_out, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-2 control-label">Others</label>
    <div class="col-sm-10">
      <%= f.text_field :others, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit '提交爬虫', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
    $("#tops_sub_catid").change(function(){
      var sub_catid = $(this).val();
      var link_val = $("#spider_start_page_11").val();
     if (sub_catid > 0){
      if (!$.trim(link_val)) {
        $("#spider_start_page_11").val(sub_catid+",");
      }else{        
        $("#spider_start_page_11").val(link_val+"|"+sub_catid+",");
      }
     }
    });
    $("#shoes_sub_catid").change(function(){
      var sub_catid = $(this).val();
      var link_val = $("#spider_start_page_4").val();
     if (sub_catid > 0){
      if (!$.trim(link_val)) {
        $("#spider_start_page_4").val(sub_catid+",");
      }else{        
        $("#spider_start_page_4").val(link_val+"|"+sub_catid+",");
      }
     }
    });
    $("#pants_sub_catid").change(function(){
      var sub_catid = $(this).val();
      var link_val = $("#spider_start_page_12").val();
     if (sub_catid > 0){
      if (!$.trim(link_val)) {
        $("#spider_start_page_12").val(sub_catid+",");
      }else{        
        $("#spider_start_page_12").val(link_val+"|"+sub_catid+",");
      }
     }
    });
    $("#skirts_sub_catid").change(function(){
      var sub_catid = $(this).val();
      var link_val = $("#spider_start_page_13").val();
     if (sub_catid > 0){
      if (!$.trim(link_val)) {
        $("#spider_start_page_13").val(sub_catid+",");
      }else{        
        $("#spider_start_page_13").val(link_val+"|"+sub_catid+",");
      }
     }
    });
    $("#accs_sub_catid").change(function(){
      var sub_catid = $(this).val();
      var link_val = $("#spider_start_page_6").val();
     if (sub_catid > 0){
      if (!$.trim(link_val)) {
        $("#spider_start_page_6").val(sub_catid+",");
      }else{        
        $("#spider_start_page_6").val(link_val+"|"+sub_catid+",");
      }
     }
    });
    $("#bags_sub_catid").change(function(){
      var sub_catid = $(this).val();
      var link_val = $("#spider_start_page_5").val();
     if (sub_catid > 0){
      if (!$.trim(link_val)) {
        $("#spider_start_page_5").val(sub_catid+",");
      }else{        
        $("#spider_start_page_5").val(link_val+"|"+sub_catid+",");
      }
     }
    });

    $("#cosmetic_sub_catid").change(function(){
      var sub_catid = $(this).val();
      var link_val = $("#spider_start_page_9").val();
     if (sub_catid > 0){
      if (!$.trim(link_val)) {
        $("#spider_start_page_9").val(sub_catid+",");
      }else{        
        $("#spider_start_page_9").val(link_val+"|"+sub_catid+",");
      }
     }
    });

    $("#house_sub_catid").change(function(){
      var sub_catid = $(this).val();
      var link_val = $("#spider_start_page_10").val();
     if (sub_catid > 0){
      if (!$.trim(link_val)) {
        $("#spider_start_page_10").val(sub_catid+",");
      }else{        
        $("#spider_start_page_10").val(link_val+"|"+sub_catid+",");
      }
     }
    });
  })
</script>
