<h3 style='margin-top:0px;'>编辑优惠</h3>
<hr/ style='margin-top:0px;'>
<%= form_for [:manage,@discount], html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%= f.hidden_field :discountable_id %>
  <%= f.hidden_field :discountable_type %>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-3 control-label">品牌评级</label>
    <div class="col-sm-9">
      <%= f.text_field :title, class: "form-control" %>
      <p class="help-block">简短的活动宣传标语, 最多10</p>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-3 control-label">开始时间</label>
    <div class="col-sm-9" style="margin-top:10px;">
      <%= f.date_select :start_date, with_css_classes: "class:form-control" %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-3 control-label">停止时间</label>
    <div class="col-sm-9" style="margin-top:10px;">
      <%= f.date_select :end_date  %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-3 control-label">活动原因</label>
    <div class="col-sm-9">
      <%= f.text_field :reason, placeholder: '如：换季; 迎国庆', class: "form-control" %>
      <p class="help-block">活动的原因，最多10字</p>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <label for="inputEmail3" class="col-sm-3 control-label">优惠详情</label>
    <div class="col-sm-9">
      <%= f.text_area :description, class: "form-control", rows: 5 %>
    </div>
  </div>
  <div class="form-group" style='margin-left:0px; margin-right:0px;'>
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit '提交优惠', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
