<%= search_form_for @q, url: '/manage/discounts', html: {class: 'form-inline',role: 'form',style: 'margin-top:30px;'} do |f| %>
  <div class="form-group" style="width:22%;">
    <label class="sr-only">ItemTitle</label>
    <%= f.text_field :title_cont, class: 'form-control', placeholder: '优惠标语' %>
  </div>
  <div class="form-group" style="width:22%;">
    <label class="sr-only">ItemTitle</label>
    <%= f.text_field :discountable_of_Brand_type_name_or_discountable_of_Shop_type_name_cont, class: 'form-control', placeholder: '品牌/店铺' %>
  </div>
  <%= f.submit '搜索', class: 'btn btn-primary btn-xs'%> 
  <%= total_span @discounts %>
<% end %>
<table class="table table-bordered table-hover" style="margin-top:20px;">
  <thead>
    <tr class="success">
      <th>优惠标语</th>
      <th>优惠原因</th>
      <th width="15%">品牌/店铺</th>
      <th width="10%">ID</th>
      <th width="15%">开始时间</th>
      <th width="15%">结束时间</th>
      <th width="10%">操作</th>
    </tr>
  </head>
  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.title %></td>
        <td><%= discount.reason %></td>
        <td><%= discount.discountable.try(:name) %></td>
        <td><span class="badge"><%= discount.id %></span></td>
        <td><%= discount.start_date %></td>
        <td><%= discount.end_date %></td>
        <td> 
          <%= link_to '编辑',[:edit,:manage,discount], class: :e_obj %> |
          <%= link_to '删除', '#', class: 'ajaxd',  
            remote: true, method: :delete, confirm: 'Are you sure?' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @discounts %> 
