<%= search_form_for @q, url: "/manage/tshows", html: {class: 'form-inline',role: 'form',style: 'margin-top:30px;'} do |f| %>
  <div class="form-group" style="width:20%;">
    <label class="sr-only">TshowId</label>
    <%= f.text_field :id_eq, class: 'form-control', placeholder: 'Tshow ID' %>
  </div>
  <div class="form-group" style="width:20%;">
    <label class="sr-only">TshowSeason</label>
    <%= f.text_field :season_cont, class: 'form-control', placeholder: 'Tshow Season' %>
  </div>
  <div class="form-group" style="width:20%;">
    <label class="sr-only">TshowBrandName</label>
    <%= f.text_field :brand_name_cont, class: 'form-control', placeholder: '品牌名' %>
  </div>
  <%= f.submit '搜索', class: 'btn btn-primary'%> 
  <%= total_span @tshows %>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th width="6%">ID</th>
      <th>标题</th>
      <th>品牌level</th>
      <th>品牌</th>
      <th>图片</th>
      <th width="17%"><%= sort_link @q, :created_at, '创建时间' %></th> 
      <th width="16%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @tshows.each do |tshow| %>
      <tr>
        <td>
          <span class="badge">
            <%= tshow.id %>
          </span>
        </td>
        <td><%=link_to tshow.season, tshow.url %></td>
        <td><%= tshow.brand.level %></td>
        <td>
           <%= link_to tshow.brand.try(:name), "?brand_id=#{tshow.brand_id}" %>
         </td>
        

        <% photos = tshow.photos %>
        <% fphoto = tshow.photos.first %>
        <td style="padding:1px; width:72px;"> 
          <div style="display:none;">
            <div id="inline_content<%= tshow.id %>" style='background:#fff;'>
              <div class="row" style="margin:0px;">
                <% photos.each do |p| %>
                  <div class="col-sm-3 col-md-2 photo">
                    <div class="thumbnail">
                      <img alt="300x200" style="width: 300px; height: 200px;" src="<%= p.url(:scaled_medium) %>">
                      <div class="caption">
                        <p> 
                        <%= link_to '删除', [:manage,p], method: :delete, remote: true,
                          confirm: 'Are you sure?', class: 'del-photo' %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div> 
            </div>
          </div>
          <%= link_to fphoto.try(:url,:scaled_medium), class: 'preview', title: tshow.season do %>
            <img src="<%= fphoto.try(:url,:scaled_medium) %>", style="width:70px; height:56px;" /> 
          <% end %>
        </td>
           
        <td><%= to_local tshow.created_at %></td>
        <td>
          <%= link_to '编辑', [:edit,:manage,tshow] %> |
          <%= link_to '编辑品牌', [:edit,:manage, tshow.brand] %> |
          <%= link_to '删除', [:manage,tshow], method: :delete, class: 'ajaxd', 
          remote: true, confirm: 'Are you sure' %> |
          <%= link_to '显图', "#inline_content#{tshow.id}", class: 'sku_images' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tshows %>
