= simple_form_for(@ibeacon) do |f|
  = f.error_notification

  .form-inputs
    = f.input :beaconid
    = f.input :url
    = f.input :user_id
    = f.input :uid
    = f.input :remark
    = f.input :pv
    = f.input :uv

  .form-actions
    = f.button :submit
