%p#notice= notice

%p
  %b Beaconid:
  = @ibeacon.beaconid
%p
  %b Url:
  = @ibeacon.url

%p
  %b remark
  = @ibeacon.remark

%p
  %b User:
  = @ibeacon.user_id

%p
  %b uid:
  = @ibeacon.uid

%p
  %b Pv:
  = @ibeacon.pv
%p
  %b Uv:
  = @ibeacon.uv

= link_to 'Edit', edit_ibeacon_path(@ibeacon)
\|
= link_to 'Back', ibeacons_path
