%h1 Listing cards

%table
  %tr
    %th App
    %th Card
    %th On
    %th Shop
    %th
    %th
    %th

  - @cards.each do |card|
    %tr
      %td= card.app_id
      %td= card.card_id
      %td= card.on
      %td= card.shop_id
      %td= link_to 'Show', card
      %td= link_to 'Edit', edit_card_path(card)
      %td= link_to 'Destroy', card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Card', new_card_path
