= tinymce_assets
= tinymce

= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :link
    =# f.input :content
    = text_area_tag :content, "", :class => "tinymce", :rows => 40, :cols => 120

  .form-actions
    = f.button :submit

- @post.photos.each do |p|
  %img{:src => p.url(:scaled_full) }

