<%= form_for [:manage, @shipping_method], html: {style: "margin-bottom:0px"} do |f| %>
  <h3 style="margin-top:0px"> 
    <%= a_name.in?(['new', 'create']) ? "添加" : "编辑" %>方式 
  </h3> 
  <hr style="margin-top:0px"/>
  <% unless @shipping_method.errors.blank? %>
    <div class="control-group text-error">
      <div class="controls" style="margin-left:110px">
        <ul>
          <% @shipping_method.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <label class="control-label" style="width:100px"><strong>名称:</strong></label>
    <div class="controls">
      <%= f.text_field :name, class: 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" style="width:100px"><strong>跟踪url:</strong></label>
    <div class="controls">
      <%= f.text_field :tracking_url, class: 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" style="width:100px"><strong>价格:</strong></label>
    <div class="controls">
      <%= f.text_field :price, class: 'input-xlarge' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls" style="margin-left:110px">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
<% end %>
