<%= search_form_for [:manage,@q], html: {class: 'form-search well well-small'} do |f| %>
    <label>名称<%= f.text_field :name_cont, class: 'form-control' %>  &nbsp;</label>
    <label>上线<%= check_box_tag "q[state_in][]", 1, states.include?("1") %></label>
    <label>下线<%= check_box_tag "q[state_in][]", 0, states.include?("0") %></label>
    <%= f.submit '搜索', class: "btn btn-primary btn-small" %>
    <%= total_span @shipping_methods %>
    <%= link_to new_manage_shipping_method_path, class: 'pull-right btn btn-primary',id: :add_obj do %><i class='icon-plus icon-white'></i>添加邮递分类
    <% end %>
<% end %>
<table class="table table-bordered">
  <thead>
  <tr class="well">
    <th>名称</th>
    <th width="6%">状态</th>
    <th width="5%">默认</th>
    <th width="6%">价格</th>
    <th width="9%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @shipping_methods.each do |sm| %>
      <tr>
        <td><%= sm.name %></td>
        <td class="ajax">
          <%= link_to [:invert_state, :manage, sm], remote: true do %>
              <span class="label label-danger"><%= sm.cn_state %></span>
          <% end %>
        </td>
        <td style="text-align:center" class="ajaxShi">
          <%= link_to [:set_default, :manage, sm], remote: true do %>
              <span class="label label-info"><%= sm.cn_default %></span>
          <% end %>
        </td>
        <td>¥<%= sm.price %></td>
        <td>
          <%= link_to '编辑', edit_manage_shipping_method_path(sm), class: :edit_obj %> |
          <%= link_to '删除', manage_shipping_method_path(sm), method: :delete,
                      remote: true, data: {confirm: '确定删除？'}, class: :ajaxd %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @shipping_methods, window: 2 %>
