%tr{:class=>"#{color_class}"}
  %td
    %a{:href => "#{edit_brand_sku_path(@brand,sku)}"}
      -if sku.photos and sku.photos.length>0
        %img{:src => "#{sku.photos[0].url(:scaled_medium) }", :width => "200"}/
      -else
        %img{:height => "200", :src => "/assets/img.jpg", :width => "200"}/
  %td #{sku.created_at}
  %td #{sku.deleted}
  %td #{sku.level}
  %td #{sku.title}
  %td #{sku.price}
  %td #{sku.category.name}
  %td #{sku.docid}
  %td
    -#%a.editor{:href => "#{[@brand, sku]}", :title => "编辑"}
    =link_to "edit" ,edit_brand_sku_path(@brand, sku), :class=>"editor",  :title=>"编辑"
    =link_to "delete" ,brand_sku_path(@brand, sku), :class=>"delete", :title=>"删除",:method=>"delete", :confirm=>"确定删除吗?" 
