<%= form_tag recommends_manage_matters_path, class: 'form-inline',role: 'form',style: 'margin-top:30px;',method: :get do  %>
  <div class="form-group">
    <label class="sr-only">BrandId</label>
    <%= text_field_tag :a, @catid_text_value, class: 'form-control', placeholder: '类别名' %>
    <%= hidden_field_tag :catid, params[:catid] || ""%>
  </div>
  <%= link_to '类别', '#inline_content', id: 'inline', class: 'btn btn-primary btn-xs'%> 
  <div class="form-group">
    <label class="sr-only">TagId</label>
    <%= text_field_tag :c, @tagid_text_value, class: 'form-control', placeholder: '标签名' %>
    <%= hidden_field_tag :tagid, params[:tagid] || ""%>
  </div>
  <%= link_to '标签', [:tags,:manage,:matters], id: 'tags_table', class: 'btn btn-primary btn-xs'%> 
  <br/><br/>

  <%=submit_tag "搜索"%>
<% end %>

<div style="display:none;">
  <div id='inline_content' style='padding:10px; background:#fff;'>
  </div>
  <div id='inline_content_links' style='padding:10px; background:#fff;'>
  </div>
</div>
<div class="row" style="margin-top:30px;">
  <% @spider.get_docs.each do |k, v|%>
    <% v.each do |doc| %>
    <div class="col-sm-7 col-md-3 recommend">
      <div class="thumbnail">
        <% doc["dp_imgs"].each do |img| %>
          <img alt="300x200" style="max-width: 300px; max-height: 200px;" src="<%= img %>">
        <% end %>
        
        <% doc["imgs"].each do |img| %>
          <img alt="300x200" style="max-width: 300px; max-height: 200px;" src="<%= img %>">
        <% end %>

        <div class="caption">
          <h3 style="overflow:hidden; height:28px;">
          </h3>
          <p style="height:45px; overflow:hidden;">
            <%=link_to doc['title'], doc['link'] %>
          </p>

          <p>
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
