
%h2 达人申请列表
= form_tag "/manage/daren_applies", method: "GET", html: {class: 'form-inline',style: 'margin-top:30px;' } do
  = text_field_tag :username, "", placeholder: 'username'
  = submit_tag '搜索', class: 'btn btn-primary'

%table.table
  %tr
    %th 状态
    %th 用户
    %th 信息
    %th 电话
    %th 地址
    %th QQ
    %th Photo
    %th Status
    %th Created at

  - @daren_applies.each do |daren_apply|
    - unless daren_apply.get_user.blank?
      %tr
        %td= link_to daren_apply.get_status, edit_manage_daren_apply_path(daren_apply)
        %td= link_to daren_apply.get_user.name, user_path(daren_apply.get_user), target: true
        %td= "已经发布#{daren_apply.get_user.dapei_count}, 上街#{daren_apply.get_user.v_dapei_count}, 被赞#{daren_apply.get_user.dapei_likes_count}"
        %td= daren_apply.mobile
        %td= daren_apply.address
        %td= daren_apply.qq
        %td
          - daren_apply.get_imgs.each do |img|
            %img{:src=>img}
        %td= daren_apply.status
        %td= daren_apply.created_at

%br


#paginate
  = paginate @daren_applies

= link_to 'New Daren apply', new_daren_apply_path
