<p>
  <br/>
</p>

<h2>New Cell Type</h2>

<div class="well">
  example: <a href="http://gridster.net/" target="_blank">http://gridster.net/</a>  about data row, data col
</div>

<%= form_for [:manage, @cell_type], html: {class: "form-horizontal", role: "form"} do |f| %>

    <div class="form-group">
      <label class="col-md-2 control-label">cell编号</label>
      <div class="col-md-4">
        <%= f.text_field :type_num, class: "form-control", placeholder: "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">mark</label>
      <div class="col-md-4">
        <%= f.text_field :mark, class: "form-control", placeholder: "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">所属Cell类型</label>
      <div class="col-md-4">
        <%= f.select :typeset_type_id, @typeset_types_for_select, {}, class: "form-control", placeholder: "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Data Row</label>
      <div class="col-md-4">
        <%= f.text_field :data_row, class: "form-control", placeholder: "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Data Col</label>
      <div class="col-md-4">
        <%= f.text_field :data_col, class: "form-control", placeholder: "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Data SizeX</label>
      <div class="col-md-4">
        <%= f.text_field :data_sizex, class: "form-control", placeholder: "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Data SizeY</label>
      <div class="col-md-4">
        <%= f.text_field :data_sizey, class: "form-control", placeholder: "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"></label>
      <div class="col-md-4">
        <%= f.submit class: "btn btn-default" %>
      </div>
    </div>

<% end %>