<p>
  <br/>
</p>

<% unless @typeset_types.blank? %>

    <% @typeset_types.each do |tt| %>

        <% cell_types = tt.cell_types %>

<% unless cell_types.blank? %>

    <table class="table">
      <tr>
        <th>id</th>
        <th>type num</th>
        <th>mark</th>
        <th>Row</th>
        <th>Col</th>
        <th>Size X</th>
        <th>Size Y</th>
        <th>width</th>
        <th>height</th>
        <th>类型</th>
        <th>操作</th>
      </tr>
    <% cell_types.each do |ct| %>

    <tr>
      <td>
        <%= ct.id %>
      </td>
      <td>
        <%= ct.type_num %>
      </td>
      <td>
        <%= ct.mark %>
      </td>
      <td>
        <%= ct.data_row %>
      </td>
      <td>
        <%= ct.data_col %>
      </td>
      <td>
        <%= ct.data_sizex %>
      </td>
      <td>
        <%= ct.data_sizey %>
      </td>
      <td>
        <%= ct.width %>
      </td>
      <td>
        <%= ct.height %>
      </td>
      <td>
        <%= ct.typeset_type_mark %>
      </td>
      <td>
        <%= link_to "edit", edit_manage_cell_type_path(ct) %>
      </td>
    </tr>

    <% end %>
    </table>
<% end %>

    <% end %>

<% end %>