!!!
%html{:lang => "de"}
  / use class="debug" here if you develope a template and want to check
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %meta{:content => "index,follow", :name => "robots"}/
    = stylesheet_link_tag "weixin", :media => "all" 
    %title= content_for?(:title) ? yield(:title) : "上街吧--穿出你的时尚范儿"
    %meta{:name=>"keywords", :content => content_for?(:keywords) ? yield(:keywords) : "上街吧,搭配,微信,游戏"}
    %meta{:name=>"description", :content => content_for?(:description) ? yield(:description) : "上街吧,百万女性疯狂在用app"}
    <meta name="baidu-tc-cerfication" content="172a854e4a368f1373c63b8533a823c9" />

  %body
    -#.head_wrapper
      &nbsp;
      = link_to "上街吧", "/?#{@lbs_params}"
      &nbsp;
      = link_to "搭配秀", "#{dapeis_path}"
      &nbsp;
      = link_to "品牌汇", "#{brands_path}"
      &nbsp;
      = link_to "微信文章", "#{posts_path}"
      &nbsp;
      = link_to "微游戏", "#{games_path}"
      &nbsp;
      = link_to "#{@city}[点击切换]", "#{cities_path}"
    = yield
    
    #div{:style =>"clear: both"}

    .head_wrapper
      %br
      %p{:style => "text-align:center"}
        %a{:href=> "http://mp.weixin.qq.com/s?__biz=MzAxOTE1MzQ3Ng==&mid=203420855&idx=1&sn=f7a710c07b197b23e474a6567ad6327d#wechat_redirect" }
          %img{:width =>"79%", :src => "http://dpms.qiniudn.com/uploads/dp_wx.png"}
    
    #analysis{:style => "display:none"}
      %script{:language => "JavaScript", :src => "http://s95.cnzz.com/z_stat.php?id=1254086960&web_id=1254086960"} 
